{% load wagtailcore_tags flex_card_tags %}
{% row_layout self block.id as layout %}
{% if layout.image_style %}<script>document.styleSheets[0].insertRule("{{ layout.image_style }}")</script>{% endif %}
<div class="{% card_layout self %}">
  <div class="{{ layout.row_class }}">
    <div class="{{ layout.image_column }} size-{{ block.id }}">{% include "blocks/embed/image.html" %}</div>
    <div class="col">
      <div class="pt-3 px-2 text-break">
        <p class="fs-5 font-headings card-title fw-bolder {{ layout.heading_align }}">{{ self.title }}</p>
        <p class="lh-sm">{{ self.description|linebreaksbr }}</p>
      </div>
      {% include "blocks/embed/button.html" %}
    </div>
  </div>
</div>
