{% extends "base.html" %}
{% load core_tags %}

{% block body_class %}template-403{% endblock %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}
    {% get_template_set '403 h' as trans %}
    <title>Enzed Online - Permission Denied</title>
    <div class="container-fluid text-center" style="position: absolute; top: 50%;-ms-transform: translateY(-50%); transform: translateY(-50%);" >
        <div class="px-3">
            <p><i class="far fa-hand-paper fa-3x text-danger"></i></p>
            <h1>{{ trans.heading }}</h1>
            {% trans_page_from_slug 'contact' as contact %}
            <h5>{{ trans.bug_part_1 }} <a href='{{ contact.url }}'> {{ trans.bug_part_2 }}</a>.</h5>
        </div>
    </div>
{% endblock %}
