{% extends "base.html" %}
{% load core_tags %}

{% block body_class %}template-403{% endblock %}

{% block extra_head %}
    <title>Enzed Online - Permission Denied</title>
{% endblock extra_head %}

{% block content %}
    <div class="container-fluid text-center" style="position: absolute; top: 50%;-ms-transform: translateY(-50%); transform: translateY(-50%);" >
        <div class="px-3">
            <p><i class="far fa-hand-paper fa-3x text-danger"></i></p>
            <h1>You do not have permission for the requested page.</h1>
            {% trans_page_from_slug 'contact' as contact %}
            <h5>If you believe this to be a bug, please <a href='{{ contact.url }}'> let me know</a>.</h5>
        </div>
    </div>
{% endblock %}
