{% extends "base.html" %}
{% load core_tags %}
{% block content %}
    {% get_template_set 'page-error' as trans %}
    <title>{{ trans.404_title }}</title>
    <div class="container-fluid text-center centre-screen">
        <div class="px-3">
            <p><i class="fas fa-exclamation-triangle fa-3x text-warning"></i></p>
            <h1>{{ trans.404_heading }}</h1>
            {% trans_page_from_slug 'contact' True as contact %}
            <h5>{{ trans.bug_part_1 }} <a href='{{ contact.url }}'> {{ trans.bug_part_2 }}</a>.</h5>
        </div>
    </div>
{% endblock content %}
