<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1>Internal server error</h1>

        <h2>Sorry, there seems to be an error. Please try again soon.</h2>

        <h1>Erreur Interne du Serveur</h1>

        <h2>Désolé, il semble y avoir une erreur. Veuillez réessayer bientôt.</h2>

        <h1>Error de servidor interno</h1>

        <h2>Lo siento, parece haber un error. Inténtelo de nuevo pronto.</h2>

        
    </body>
</html>
