{% extends "base.html" %}
{% load core_tags %}

{% block body_class %}template-500{% endblock %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}
    {% get_template_set 'page-error' as trans %}
    <title>{{ trans.500_title }}</title>
    <div class="container-fluid text-center" style="position: absolute; top: 50%;-ms-transform: translateY(-50%); transform: translateY(-50%);" >
        <div class="px-3">
            <p><i class="fas fa-bug fa-3x text-warning"></i></p>
            <h1>{{ trans.500_heading }}</h1>
            {% trans_page_from_slug 'contact' True as contact %}
            <h5>{{ trans.bug_part_1 }} <a href='{{ contact.url }}'> {{ trans.bug_part_2 }}</a>.</h5>
        </div>
    </div>
{% endblock %}
