{% load static i18n core_tags %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang={{ LANGUAGE_CODE }}>

    {% if not request.path == '/' %}

    <head>
        {% include 'head.html' %}
        {% block extra_head %}{% endblock extra_head %}
    </head>
    
    <body>
        <script src="{% static 'js/facebook_sdk.js'%}"></script>

        <div class="sticky-top">
            {% include 'menus/menu_bar.html' %}
        </div>

        <header>
            {% block header %}{% endblock header %}
        </header>

        <main>
            <div class="mt-1 mx-auto" style="max-width: 1800px;">
                {% block content %}{% endblock %}                
                {% block extra_js %}
                    {# Override this in templates to add extra javascript #}
                {% endblock %}
            </div>
        </main>
        user: {{ request.user|is_in_group:"Editors"}}

        <footer>
            <div class="mx-auto" style="max-width: 1800px;">
                {% block comments %}{% endblock %}
                {% block next_prev %}{% endblock %}
            </div>
            <div class="container">
                <p class="py-2">&nbsp;</p>
            </div>
            <div class="fixed-bottom">
                {% include 'menus/footer.html' %}
            </div>
        </footer>
    </body>

    <script src="{% static 'js/navbar.js'%}"></script>

    {% endif %}

</html>
