{% load static wagtailuserbar i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang={{ LANGUAGE_CODE }}>
    <head>
        {% include 'head.html' %}
        {% block extra_head %}{% endblock extra_head %}
    </head>

    <div class="sticky-top">
        {% include 'menus/main_menu.html' %}
    </div>

    <header>
        {% block header %}{% endblock header %}
    </header>

    <main>
        {% comment %} <script defer src="{% static 'js/facebook_sdk.js'%}"></script> {% endcomment %}

        <div mt-4>
            {% block content %}{% endblock %}
            {% block extra_js %}
                {# Override this in templates to add extra javascript #}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p class="py-2">&nbsp;</p>
        </div>
        <div class="fixed-bottom">
            {% include 'menus/footer.html' %}
        </div>
    </footer>
    
    <script src="{% static 'js/navbar.js'%}"></script>

</html>
