{% load static adv_cache seo_metadata_tags core_tags %}
test
{% get_cache_key_settings as cache_settings %}
{% cache None cache_settings.slug "head" 0 %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-708W2MWJN7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-708W2MWJN7');
  </script>

  <!-- Clarity tracking code for https://enzedonline.com/ -->
  <script>    
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    
      })(window, document, "clarity", "script", "8da1gexqzr");
  </script>

  {# Meta Tags #}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% robots %}
  {% if request is not None %} {# 500 error has no request #}
    {% meta_tags as meta_tags %}
    {% if meta_tags is not None %}{{ meta_tags }}{% endif %}
  {% endif %} 
  <meta property="og:type" content="website"/>
  <meta name="target" content="all"/>
  <meta name="audience" content="all"/>
  <meta name="coverage" content="Worldwide"/>
  <meta name="distribution" content="Global">
  <meta name="rating" content="safe for kids"/>
  <meta property="fb:app_id" content="492927945342914" />

  {# Global javascript #}
  <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>  
  <script defer src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
  <script defer src="{% static 'fontawesome.js'%}"></script>
  <script src="{% static 'js/enzedonline.js'%}"></script>

  {# Global stylesheets #}
  <link rel="preload" href="{% static 'css/litera.bootstrap.min.css' %}" as="style">
  <link rel="stylesheet" href="{% static 'css/litera.bootstrap.min.css' %}" type="text/css">

  {# Fonts #}
  <link rel="preload" href="{% static 'css/enzedonlinefonts.css' %}" as="style">
  <link rel="stylesheet" href="{% static 'css/enzedonlinefonts.css' %}" type="text/css">

  {# favicon #}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#4582ec">
  <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
  <meta name="theme-color" content="#4582ec">

  {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/enzedonline.css' %}" media="print" onload="this.media='all'">
  {% endblock %}

{% endcache %}
