{% load static wagtailcore_tags adv_cache seo_metadata_tags core_tags %}
{% get_cache_key_settings as cache_settings %}
{% wagtail_site as current_site %}
{% firstof current_site.site_name "enzedonline" as site_name %}
{% cache None cache_settings.cache_name cache_settings.cache_head cache_settings.cache_date %}
{% site_tokens as site_tokens %}
{# Fonts #}
<link rel="preconnect" href="https://fonts.gstatic.com">
{# Global stylesheets #}
<link rel="stylesheet" href="{% static 'css/litera/bootstrap.min.css' %}" type="text/css">
{% with "css/"|add:site_name|add:".css" as css_path %}
    <link rel="stylesheet" href="{% static css_path %}">
{% endwith %}
{# Meta Tags #}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="fb:app_id" content="{{ site_tokens.facebook_app_id }}">
{% robots %}
{% if request is not None %}
  {# 500 error has no request #}
  {% meta_tags as meta_tags %}
  {% if meta_tags is not None %}{{ meta_tags }}{% endif %}
{% endif %}
<meta property="og:type" content="{{ self.og_type|default:"website" }}">
<meta name="target" content="all">
<meta name="audience" content="all">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="rating" content="safe for kids">
{% nocache %}
  {% canonical %}
{% endnocache %}
{# favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/'|add:site_name|add:'/apple-touch-icon.png' %}">
<link rel="icon" type="image/svg+xml" href="{% static 'favicon/'|add:site_name|add:'/favicon.svg' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/'|add:site_name|add:'/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/'|add:site_name|add:'/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/'|add:site_name|add:'/favicon-16x16.png' %}">
<link rel="shortcut icon" href="{% static 'favicon/'|add:site_name|add:'/favicon.ico' %}">
<link rel="manifest" href="{% static 'favicon/'|add:site_name|add:'/site.webmanifest' %}">
<meta name="apple-mobile-web-app-title" content="{{ site_name }}" />
{% block extra_css %}{% endblock extra_css %}
{% endcache %}
