{% load static adv_cache core_tags %}
{% get_cache_key_settings as cache_settings %}
{# Global javascript #}
{% cache None cache_settings.cache_name 'scripts' cache_settings.cache_date %}
<script src="{% static 'js/enzedonline.js'%}"></script>
<script defer
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script defer
        src="https://kit.fontawesome.com/{{ settings.site_settings.Tokens.fontawesome }}.js"
        crossorigin="anonymous"></script>
<script defer src="{% static 'js/facebook_sdk.js'%}"></script>
{% endcache %}
{# Analytics #}
{% if request and not settings.DEBUG and not is_preview|default_if_none:False and not request.user|is_in_group:"Editors" %}
  <script defer
          src="https://www.googletagmanager.com/gtag/js?id={{ settings.site_settings.Tokens.google_analytics }}"></script>
  <script defer src="{% static 'js/analytics.js'%}"></script>
{% endif %}
