<div class="highlight-code-block">
    <pre><code class="prism-block language-{{ self.language }}" id="code-block-{{ block.id }}">{{ self.code }}</code></pre>
</div>
{% if self.language == "django" %}
    <script>
        // Insert whitespace after "{%" and "{{" if the next character is not whitespace
        // Insert whitespace before "%}" and "}}" if the previous character is not whitespace
        codeBlock = document.getElementById(`code-block-{{ block.id }}`);
        codeBlock.innerHTML = codeBlock.innerHTML
            .replace(/{{(?!\s)/g, '{{ ')
            .replace(/{%(?!\s)/g, '{% ')
            .replace(/(?<!\s)}}/g, ' }}')
            .replace(/(?<!\s)%}/g, ' %}');
    </script>
{% endif %}
