{% load static wagtailcore_tags simple_grid_tags %}
{% get_masonry_id block.id as id %}
<div class="block-container">
    {% if self.format == "masonry" %}
        <div class="{{ id.grid }}">
            {% for block in self.cards %}
                <div class="px-2">
                        {% include_block block %}
                </div>
            {% endfor %}
        </div>
        {% get_masonry_options self.min_col self.max_col as masonry_options %}
        {{ masonry_options|json_script:id.options }}
        <script>
            include_css("{% static 'css/flexmasonry.css' %}");
            Promise.all([
                include_js("{% static 'js/flexmasonry.js' %}"), 
                include_js("{% static 'js/flexmasonry.extra.js'%}")
                ]).then(() => {
                    // Both scripts have successfully loaded
                    initFlexMasonryBlock("{{id.grid}}", "{{id.options}}");
                })          
        </script>
    {% else %}
        <div class="row {% get_column_layout self.min_col self.max_col %} justify-content-center">
            {% for block in self.cards %}
                {% with full_height=True %}
                    {% include_block block %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
</div>

