{% load static wagtailcore_tags grid_block_tags %}
{% two_column_layout value block.id as layout %}
{% if layout.size %}<script>document.styleSheets[0].insertRule("{{ layout.size }}")</script>{% endif %}
<div class="row px-0 px-sm-1 px-md-2 px-lg-3">
  <div {{ layout.l_class }}>
    {% for block in value.left_column %}
      {% include_block block %}
    {% endfor %}
  </div>
  {% if value.vertical_border %}<div class="{{ layout.divider }}"></div>{% endif %}
  <div {{ layout.r_class }}>
    {% for block in value.right_column %}
      {% include_block block %}
    {% endfor %}
  </div>
</div>
