{% load wagtailimages_tags menu_tags static %}

{% get_menu 'Privacy' as privacy_menu %} 
{% get_social_media_icons as social_media_icons %}

<footer class="footer">
  <nav class="navbar navbar-dark bg-dark py-1">
    <div>
      <ul class="nav bg-transparent px-2">
        {% for icon in social_media_icons %}
        <li class="nav-item px-2">
          <a href="{{ icon.link }}" title="{{ icon.alt }}">
            <img src="{{ icon.image }}" alt="{{ icon.alt }}" />
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% get_menu 'privacy' as privacy_menu %}
    {% if privacy_menu %}
      {% get_menu_items privacy_menu request as privacy_menu_items %}
      {% for privacy_page in privacy_menu_items %}
        <span class="justify-content-center content-align-middle">
          <a class="nav-link footer-nav-link px-3" href="{{ privacy_page.url }}"
            ><span class="fw-light">{{ privacy_page.title }}</span></a
          >
        </span>
      {% endfor %}
    {% endif %}

    <div class="py-0 mb-n3 d-none d-sm-block justify-content-end content-align-middle text-muted">
      <a class="nav-link text-decoration-none text-light py-0" href="http://enzedonline.com"
        ><small class="py-0">Website by Enzed Online</small></a
      >
    </div>
  </nav>

</footer>

