{% load adv_cache wagtailimages_tags menu_tags core_tags static %}

{% get_cache_key_settings as cache_settings %}
{% cache None cache_settings.cache_name "footer" cache_settings.cache_date %}

  {% get_menu 'privacy' as privacy_menu %} 
  {% get_social_media_icons as social_media_icons %}

  <div class="footer">
    <nav class="navbar navbar-dark bg-dark py-1">
      <div>
        <ul class="nav bg-transparent px-2">
          {% for icon in social_media_icons %}
          <li class="nav-item px-2">
            <a href="{{ icon.link }}" title="{{ icon.alt }}" aria-label="{{ icon.alt }}">
              <img src="{{ icon.image }}" alt="{{ icon.alt }}"
                class="footer-sm-icon"
              >
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      {% if privacy_menu %}
        {% get_menu_items privacy_menu request as privacy_menu_items %}
        {% for privacy_page in privacy_menu_items %}
          <span class="mx-lg-auto">
            <a class="footer-nav-link" href="{{ privacy_page.url }}"
              >{{ privacy_page.title }}</a
            >
          </span>
        {% endfor %}
      {% endif %}

      <div class="py-0 mb-n3 d-none d-sm-block justify-content-end content-align-middle text-muted">
        <a class="footer-nav-link" href="/">
          <span class="text-sm">Website by Enzed Online</span>
        </a>
      </div>
    </nav>

  </div>

{% endcache %}
