{% load wagtailimages_tags menu_tags socialaccount static %}

{% company_logo as logo %}
{% image logo.logo height-30 as logo_lg %} 
{% image logo.logo height-30 as logo_md %} 
{% image logo.logo height-30 as logo_sm %} 


<nav class="navbar navbar-expand-md navbar-dark bg-primary pe-2 pe-md-0 ms-n2 py-2">
    <div class="ps-2">
        <a class="navbar-brand" href="/">
            <picture>
            <source media="(min-width: 992px)" srcset="{{ logo_lg.url }}" />
            <source media="(min-width: 800px)" srcset="{{ logo_md.url }}"  />
            <source srcset="{{ logo_sm.url }}" />
            <img
                src="{{ logo_sm.url }}"
                alt="{{ logo.name }}"
            />
            </picture>
        </a>
    </div>

    {% get_menu 'contact' as contact_menu %}
    {% if contact_menu %}
        {% get_menu_items contact_menu request as contact_menu_items %}
        {% for item in contact_menu_items %}
            <div class="order-0 order-md-1 pe-2 pe-md-0 ms-auto me-0">
                <ul class="navbar-nav flex-row flex-nowrap ms-auto me-0">
                    <li class="nav-item">
                        <a class="nav-link{% if request.path == item.url %} active{% endif %}" href="{{item.url}}">                            
                            {% if item.icon %}
                                {% image item.icon fill-25x25 class="image-menu" %}
                            {% endif %}
                            {{ item.title }}
                        </a>
                    </li>
                </ul>
            </div>    
        {% endfor %}
    {% endif %}

    {% get_menu 'user' as user_menu %}
    {% if user_menu %}
        {% get_menu_items user_menu request as user_menu_items %}

        <div class="collapse navbar-collapse dual-collapse2 order-2 pe-2 pe-md-0 ms-auto me-0 flex-grow-1 flex-md-grow-0" id="navbarCollapseItems">
            <ul class="navbar-nav ms-auto me-0 ps-3 ps-md-0">
                <li class="nav-item dropdown">
                    {% if request.user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" title="{{ request.user.display_name }}" id="navbardrop" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="/media/{{request.user.photo}}" class="profile-menu-image">&nbsp;{{ request.user.display_name }}
                        </a>
                    {% else %}
                        <a class="nav-link dropdown-toggle" id="navbardrop" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {% image user_menu.icon fill-30x30 class="profile-menu-image" %}
                            &nbsp;Login
                        </a>
                    {% endif %}
                    <div class="dropdown-menu dropdown-menu-end">
                        {% for subitem in user_menu_items %}
                            {% if not subitem.is_submenu %}
                                <a class="dropdown-item{% if request.path == subitem.url %} active{% endif %}" href="{{subitem.url}}">
                                    {% if subitem.icon %}
                                        {% image subitem.icon fill-25x25 class="image-menu" %}
                                    {% endif %}
                                    {{ subitem.title }}
                                </a>
                            {% endif %}
                        {% endfor %}
                        {% if not request.user.is_authenticated %}
                            <hr class="dropdown-divider">
                            {% get_providers as socialaccount_providers %}
                            {% if socialaccount_providers %}
                                <span class="text-nowrap px-3">Login with social account</span>
                                <div class="dropdown-item">
                                    {% for provider in socialaccount_providers %}
                                        <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }} social-login-link" 
                                            href="{% provider_login_url provider.id process="login" next=request.path  scope=scope auth_params=auth_params %}">
                                            <img alt="{{ provider.name }}" class="social-login-icon" src="{% static 'images/' %}{{ provider.name }}logo.png" width="40" height="40">
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    {% endif %}

    <div class="collapse navbar-collapse order-1 order-md-0 dual-collapse2" id="navbarCollapseItems">
        <ul class="navbar-nav ms-auto align-items-md-center ps-3 ps-md-0">
            {% get_menu 'main_menu' as main_menu %}
            {% if main_menu %}
                {% get_menu_items main_menu request as navigation %}
                {% for item in navigation %}
                    {% if not item.is_submenu %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == item.url %} active{% endif %}" href="{{item.url}}">                            
                                {% if item.icon %}
                                    {% image item.icon fill-25x25 class="image-menu" %}
                                {% endif %}
                                {{ item.title }}
                            </a>
                        </li>
                    {% else %}
                        {% get_menu item.submenu_id as sub_menu %}
                        {% if sub_menu %}
                            {% get_menu_items sub_menu request as sub_menu_items %}
                            {% if sub_menu_items %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {% if item.display_option != 'text' and sub_menu.icon %}
                                            {% image sub_menu.icon fill-25x25 class="image-menu" %}
                                        {% endif %}
                                        {% if item.display_option != 'icon'%}
                                            {{ sub_menu.title }}
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu">
                                        {% for subitem in sub_menu_items %}
                                            {% if not subitem.is_submenu %}
                                                <a class="dropdown-item{% if request.path == subitem.url %} active{% endif %}" href="{{subitem.url}}">
                                                    {% if subitem.icon %}
                                                        {% image subitem.icon fill-25x25 class="image-menu" %}
                                                    {% endif %}
                                                    {{ subitem.title }}
                                                </a>
                                            {% else %}
                                                {% get_menu subitem.submenu_id as subsubmenu %}
                                                {% if subsubmenu %}
                                                    {% get_menu_items subsubmenu request as sub_sub_menu_items %}
                                                    {% if sub_sub_menu_items %}
                                                        <div class="dropright"> 
                                                            <button class="btn btn-dark btn-block text-left bg-transparent dropdown-toggle" data-toggle="dropdown">
                                                                {% if subitem.display_option != 'text' and subsubmenu.icon %}
                                                                    {% image subsubmenu.icon fill-25x25 %}
                                                                {% endif %}
                                                                {% if subitem.display_option != 'icon'%}
                                                                    {{ subsubmenu.title }}
                                                                {% endif %}
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                {% for subitem in sub_sub_menu_items %}
                                                                    {% if not subitem.is_submenu %}
                                                                        <a class="dropdown-item{% if request.path == subitem.url %} active{% endif %}" href="{{subitem.url}}">
                                                                            {% if subitem.icon %}
                                                                                {% image subitem.icon fill-25x25 class="image-menu" %}
                                                                            {% endif %}
                                                                            {{ subitem.title }}
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% if subitem.divider %}
                                                <div class="dropdown-divider"></div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    {% comment %} 
    Language switcher:
    Flag of currently selected language displayed on drop down menu heading
    language_switcher menu tag iterates through site locales, finds equivalent url for each locale
    Template code loops through results, adds menu item flag + locale name + link to equiv page
    Assumes image for each language uploaded to Wagtail with title 'flag-lang_code' (eg flag-en, flag-fr etc) {% endcomment %}

    {% comment %} <div class="collapse navbar-collapse order-2 dual-collapse2" style="max-width: 50px;" id="navbarCollapseItems">

        <ul class="navbar-nav ms-auto bd-example-container-sidebar">   
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% get_lang_flag as flag %}
                    {% image flag fill-16x11 class="image-menu" %}
                </a>
                <div class="dropdown-menu dropdown-menu-right switcher-menu">
                    {% language_switcher self as switcher %}
                    {% for lang in switcher.switch_pages %}
                        <a class="dropdown-item switcher-item" href="{{ lang.url }}">
                            {% image lang.flag fill-16x11 class="image-menu" %}&nbsp
                            {{ lang.language }}
                        </a>
                        {{ lang.alternate | safe}}
                    {% endfor %}
                    {{ switcher.default_link | safe }}
                </div>
            </li>       
        </ul>
    </div> {% endcomment %}


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapseItems" 
            aria-controls="navbarCollapseItems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>


<script type="text/javascript">
    $(document).ready(function() {
        $('.dropright button').on("click", function(e) {
            e.stopPropagation();
            e.preventDefault();

            if (!$(this).next('div').hasClass('show')) {
            $(this).next('div').addClass('show');
            } else {
            $(this).next('div').removeClass('show');
            }
        });
    });
    $(".navbar-toggler").mouseup(function(){
        $(this).blur();
    })
</script>

<style>
.dropright {
    position: relative;
    margin-left: 10px;
  }
  
.dropright .btn-dark-outline {
    background-color: transparent;
  }

.dropright .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
.dropright .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
.nav-item {
    padding: 0rem 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    font-size: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
    font-weight: 500;
}
</style> 