{% load wagtailimages_tags %}
{% image recipe.search_image fill-250x250 as img %}
<div class="related-recipe-card card">
    <div class="row g-0">
        <div class="recipe-image col-auto">
            <img src="{{ img.url }}"
                 alt="{{ recipe.title }}"
                 class="img-fluid rounded-start">
        </div>
        <div class="col">
            <div class="card-body">
                <h3 class="h4 card-title fw-bolder text-center">{{ recipe.title }}</h3>
                <div class="recipe-summary blog-summary">{{ recipe.summary|linebreaksbr }}</div>
            </div>
        </div>
    </div>
    <a href="{{ recipe.url }}"
       class="stretched-link"
       aria-label="Read {{ recipe.title }}"></a>
</div>
