{% load core_tags %}
{% get_template_set "common" as common_trans %}
<div class="container-fluid pt-3 pb-5 px-2 px-lg-5">
  <div class="pt-3 pt-3">
    <hr>
  </div>
  {# Next and Previous blog posts #}
  <div class="container-fluid mt-1 px-0">
    <div class="row w-100 mx-auto">
      <div class="col-sm-6 col-md-5 col-xl-4 d-flex align-items-stretch">
        {% if next_post %}
          <div class="h-100 border-0 fill-available">
            <div class="px-0 py-0 py-sm-2 fw-bolder">
              <p class="fs-3 font-headings fw-bolder mb-1">{{ common_trans.next_post }}</p>
            </div>
            {% include "goneforawander/travel/travelblog-card.html" with travelblog=next_post %}
          </div>
        {% endif %}
      </div>
      <div class="col-md-2 col-xl-4 d-none d-md-block">&nbsp;</div>
      <div class="col-sm-6 col-md-5 col-xl-4 d-flex align-items-stretch">
        {% if previous_post %}
          <div class="h-100 border-0 fill-available previous-post-link">
            <div class="px-0 pt-3 py-sm-2 text-end">
              <p class="fs-3 font-headings text-end fw-bolder mb-1">{{ common_trans.previous_post }}</p>
            </div>
            {% include "goneforawander/travel/travelblog-card.html" with travelblog=previous_post %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
