.font-headings {
  font-family: var(--font-family-headings);
}

.font-body {
  font-family: var(--font-family-body);
}

.font-mono {
  font-family: var(--font-family-monospace);
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  max-width: var(--max-display-width);
  margin: auto;
  overflow-x: hidden;

  * {
    font-optical-sizing: auto;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  margin-bottom: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}

.h1,
h1 {
  font-size: var(--font-size-1);
}

.h2,
h2 {
  font-size: var(--font-size-2);
  padding: 0.35rem 0;
}

.h3,
h3 {
  font-size: var(--font-size-3);
  padding: 0.25rem 0;
}

.h4,
h4 {
  font-size: var(--font-size-4);
  padding: 0.15rem 0;
}

.h5,
h5 {
  font-size: var(--font-size-5);
  padding: 0.125rem 0 !important;
}

.h6,
h6 {
  font-size: var(--font-size-6);
  padding: 0.1rem 0 !important;
}

.p,
p {
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
}

p:not(.help),
.p {
  text-align: justify;
}

.pagination>p {
  text-align: center;
}

.a,
a {
  color: inherit;
}

ul {
  text-align: left !important;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ol ol ol ol {
  list-style-type: decimal;
}

ol ol ol ol ol {
  list-style-type: lower-alpha;
}

ol ol ol ol ol ol {
  list-style-type: lower-roman;
}