:root {
  --font-family-headings: "Quicksand", sans-serif;
  --font-family-body: "Work Sans", sans-serif;
  --font-family-monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  --font-family-inline-code: "Red Hat Mono", monospace;
  --font-size-1: clamp(2rem, 1.7993rem + 0.8451vw, 2.75rem);
  --font-size-2: clamp(1.8rem, 1.6261rem + 0.7324vw, 2.45rem);
  --font-size-3: clamp(1.6rem, 1.4662rem + 0.5634vw, 2.1rem);
  --font-size-4: clamp(1.4rem, 1.293rem + 0.4507vw, 1.8rem);
  --font-size-5: clamp(1.2rem, 1.1331rem + 0.2817vw, 1.45rem);
  --font-size-6: clamp(0.9rem, 0.8732rem + 0.1127vw, 1rem);
  --font-size-body: clamp(1rem, 0.9599rem + 0.169vw, 1.15rem);
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings) !important;
  font-weight: 500 !important;
  line-height: 1.2 !important;
}

.h1,
h1 {
  font-size: var(--font-size-1);
}

.h2,
h2 {
  font-size: var(--font-size-2);
}

.h3,
h3 {
  font-size: var(--font-size-3);
}

.h4,
h4 {
  font-size: var(--font-size-4);
}

.h5,
h5 {
  font-size: var(--font-size-5);
}

.h6,
h6 {
  font-size: var(--font-size-6);
}

.p,
p {
  font-size: var(--font-size-body) !important;
  font-family: var(--font-family-body) !important;
}

p:not(.help),
.p {
  text-align: justify;
}

.pagination>p {
  text-align: center;
}

.a,
a {
  color: inherit;
}