.three-col-divider,
.three-col-divider-sm,
.three-col-divider-md,
.three-col-divider-lg {
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
}

@media (max-width: 575px) {
    .three-col-divider-sm {
        border-left: 0px;
        border-right: 0px;
    }
}

@media (max-width: 767px) {
    .three-col-divider-md {
        border-left: 0px;
        border-right: 0px;
    }
}

@media (max-width: 991px) {
    .three-col-divider-lg {
        border-left: 0px;
        border-right: 0px;
    }
}

@media (min-width: 768px) {
    .contact-intro {
        max-width: 25rem;
    }
}