{% extends 'base.html' %} 
{% load wagtailcore_tags widget_tweaks contact_page_tags wagtailimages_tags %} 
{% block content %} 

<div class="container-fluid pt-0 pt-md-2 px-3 px-sm-5 pb-4 mt-md-3">
    <div class="d-block d-md-none">
      &nbsp;
    </div>
    <div class="row">
      <div class="col-md-5 pe-sm-5">
        {% for block in page.intro_text %}
            {% include_block block with block_id=block.id %}
        {% endfor %}

        <div class="d-none d-md-block">
          {% image self.intro_image width-900 format-webp as webp_img_w_900 %} 
          {% image self.intro_image width-600 format-webp as webp_img_w_600 %}
          {% image self.intro_image width-900 as fallback %}
          <picture>
            <source media="(min-width: 1200px)" srcset="{{ webp_img_w_900.url }} 900w" type="image/webp" />
            <source srcset="{{ webp_img_w_600.url }} 600w" type="image/webp" />
            <source srcset="{{ fallback.url }} 900w" />
            <img
              src="{{ fallback.url }}"
              alt="{{ self.intro_image.title }}"
              style="width: 100%; height: auto"
            />
          </picture>
        </div>
        <div class="d-block d-md-none">
          <hr>
        </div>
      </div>
      <div class="col-md-7 px-sm-5 border-start">
        <div class="card bg-info p-3">
          <div class="card-body p-0 mb-n3 privacy-notice">
            {{ self.privacy_notice|richtext }}
          </div>
        </div>        
        <p>&nbsp;</p>
        <form action="{% pageurl page %}" enctype="multipart/form-data" method="POST">
          {% csrf_token %} 
          
          {% for hidden_field in form.hidden_fields %} 
            {{ hidden_field }} 
          {% endfor %} 
          {% if form.errors or form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {{ self.form_error_warning }}
            </div>            
          {% endif %}
          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %} {{ error }} {% endfor %}
            </div>
          {% endif %}

          <div class="form-group">
            {% for field in form.visible_fields %} 
              {% field_class field as field_class %}
              {% if field_class == 'checkbox' %}
                <div class="form-check mt-n1 ml-1">
                  {% if form.is_bound %} 
                    {% if field.errors %} 
                      {% render_field field class="form-check-input is-invalid form-check-input-sm" %} 
                    {% else %} 
                      {% render_field field class="form-check-input is-valid form-check-input-sm" %} 
                    {% endif %} 
                  {% else %} 
                    {% render_field field class="form-check-input form-check-input-sm" %} 
                  {% endif %} 
                  {{ field.label_tag }}
                </div>
              {% else %}
                <div class="mt-n2">
                  {{ field.label_tag }}
                </div>
                {% if form.is_bound %} 
                  {% if field.errors %} 
                    {% render_field field class="form-control is-invalid form-control-sm" %} 
                  {% else %} 
                    {% render_field field class="form-control is-valid form-control-sm" %} 
                  {% endif %} 
                {% else %} 
                  {% render_field field class="form-control form-control-sm" %} 
                {% endif %} 
              {% endif %}
              {% if field.errors or field.help_text%}
                <div class="row">
                  <div {% if field.errors %}class="col"{% else %}class="col-auto"{% endif%}>
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text|linebreaksbr }}<br />&nbsp;</small>
                    {% else %}
                      <small>&nbsp;</small>
                    {% endif %}
                  </div>
                  <div {% if field.errors %}class="col-auto text-end"{% else %}class="col"{% endif %}>
                    {% if field.errors %}
                      <ul class="list-unstyled">
                        {% for error in field.errors %}
                          <small class="text-danger">
                            <li>{{ error }}</li>
                          </small>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>
              {% else %}
                <small>&nbsp;</small>
              {% endif %} 
            {% endfor %}
          </div>
          <button class="btn btn-primary btn-lg" type="submit">{{ page.submit_button_text }}</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}

