{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags latest_blog_posts_block_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/flexmasonry.css' %}" type="text/css">
    <script src="{% static 'js/flexmasonry.js' %}"></script>
    <script src="{% static 'js/flexmasonry.extra.js'%}"></script>
{% endblock extra_head %}

{% block content %}
<div class="p-3 p-md-4">
    {{ self.thank_you_text|richtext }}
</div>

<div class="container-fluid w-100" style="gap: 1.5rem;">
    {% get_latest_posts 12 as posts %}
    {% if posts %}
        {% include 'core/blog_posts.html' %}
    {% endif %}
</div>

{% endblock %}