{% load wagtailimages_tags %} 

{% image self.banner_image fill-2100x700-c100 format-webp as webp_img_w_2100 %} 
{% image self.banner_image fill-1500x500-c100 format-webp as webp_img_w_1500 %} 
{% image self.banner_image fill-900x300-c100 format-webp as webp_img_w_900 %} 
{% image self.banner_image fill-600x200-c100 format-webp as webp_img_w_600 %}
{% image self.banner_image fill-2100x700-c100 as fallback %} 

<div class="banner-overlay-container">
  <picture>
    <source media="(min-width: 1800px)" srcset="{{ webp_img_w_2100.url }} 2100w" type="image/webp" />
    <source media="(min-width: 1200px)" srcset="{{ webp_img_w_1500.url }} 1500w" type="image/webp" />
    <source media="(min-width: 750px)" srcset="{{ webp_img_w_900.url }} 900w" type="image/webp" />
    <source srcset="{{ webp_img_w_600.url }} 600w" type="image/webp" />
    <source srcset="{{ fallback.url }} 2100w" />
    <img
      src="{{ fallback.url }}"
      alt="{{ self.title }}"
      style="width: 100%; height: auto"
    />
  </picture>
  {% if self.banner_headline or self.banner_small_text %}
  <div class="banner-overlay-text-block pl-2 pl-md-3 pl-lg-4" style="object-fit: cover;">
    {% if self.banner_headline %}<div class="display-6" style="font-size: clamp(0.9rem, 0.2734rem + 2.7848vw, 2rem);">{{ self.banner_headline }}</div>{% endif %}
    {% if self.banner_headline %}<div class="display-8" style="font-size:calc(0.4rem + 1vw);">{{ self.banner_small_text }}</div>{% endif %}
  </div>
  {% endif %}
</div>

