{% load static wagtailimages_tags %}
{% image post.search_image thumbnail-500x250 format-webp as webp_img_w_500 %}
{% image post.search_image thumbnail-500x250 as fallback %}
<div class="card p-2 page-card">
    <div class="px-1 py-2">
        <picture>
            <source media="(min-width: 1px)" sizes="(min-width: 1px) 1px" srcset="{{ webp_img_w_500.url }} 500w" type="image/webp">
            <img src="{{ fallback.url }}" alt="{{ post.title }}" class="image-w-100-auto">
        </picture>
    </div>
    <div class="card-body py-1">
        <h3 class="h4 card-title fw-bolder text-center">{{ post.title }}</h3>
        <div class="blog-summary">{{ post.summary|linebreaksbr }}</div>
    </div>
    <a href="{{ post.url }}{{ filter.qstring }}"
       class="stretched-link"
       aria-label="Read {{ post.title }}"></a>
</div>
