{% load static %}

<div 
    class="grid mx-auto full-width" 
    data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer",  "gutter": ".gutter-sizer",  "percentPosition": "true" , "fitWidth": "true"}'
    >
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    {% for post in posts %}
        <div class="grid-item">
            <div class="col mx-0 mb-4">
                {% include 'core/blog_card.html' %}
            </div>
        </div>
    {% endfor %}
</div>

<script src="{% static 'js/masonry.pkgd.js'%}"></script>
<script src="{% static 'js/masonry.extra.js'%}"></script>
