{% if allow_feedback %}
    <div class="row pe-4 ps-2">
        <div class="col-auto p-0">
            <form action="{% url 'comments-xtd-like' item.comment.pk %}" method="post" class="form-horizontal">{% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}#c{{ item.comment.pk }}">
                <input type="hidden" name="comment" value=item.comment.pk>
                <input type="hidden" name="flag" value="like">
                <button type="submit" name="submit" class="btn btn-primary py-0 px-3 ms-3 {% if not item.likedit %}mutedlink{% endif %}">
                    <span class="fas fa-thumbs-up"></span>
                {% if show_feedback and item.likedit_users %}
                <a class="badge bg-primary disabled small ms-2" 
                    data-bs-toggle="tooltip"
                    rel = "nofollow"
                    title="{{ item.likedit_users|join:'<br>' }}">
                    {{ item.likedit_users|length }}</a>
                {% endif %}
                
                </button>
            </form>
        </div>  
    </div>
{% endif %}
