{% load blog_tags core_tags %}
{% get_template_set "common" as common_trans %}
<div class="row rounded bg-info py-2 px-3 mx-1 mt-2 mb-4 border-primary border-1">
  <div class="col-auto flex-nowrap ps-0 pe-1 pe-sm-2 pe-md-3">
    <span class="category-link">{{ common_trans.posted_in }}</span>
  </div>
  <div class="col">
    <div class="row">
      {% translate_categories self.categories.all as categories %}
      {% for category in categories %}
        <div class="col-auto">
              <a class="category-link fw-bold" href="{{ self.get_parent.url }}?category={{ category.slug }}#filter">
                {{ category.name }}
              </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
