{% load static core_tags adv_cache %} 
{% get_template_set 'common' as common_trans %}

{% cache None page.slug "next_prev" request.GET.urlencode self.latest_revision_created_at %}
  <div class="container-fluid pt-3 px-2 px-lg-5 pb-1">

    <div class="pt-3 pt-3">
      <hr />
    </div>

    {# Next and Previous blog posts #}
    <div class="container-fluid mt-1 px-0">
      <div class="row">
        <div class="col-sm-6 col-md-5 col-xl-4">
          {% if next_post %}
            <div class="card h-100 border-0">
              <div class="px-0 py-0 py-sm-2 fw-bolder">
                <h4 class="fw-bolder">{{ common_trans.next_post }}</h4>
              </div>
              {% include 'core/blog_card.html' with post=next_post %}
              <a href="{{next_post.url}}{{filter.qstring}}" class="stretched-link"></a>
            </div>
          {% endif %}
        </div>
        <div class="col-md-2 col-xl-4 d-none d-md-block">
          &nbsp;
        </div>
        <div class="col-sm-6 col-md-5 col-xl-4">
        {% if previous_post %}
          <div class="card h-100 border-0">
            <div class="px-0 pt-3 py-sm-2 text-end">
              <h4 class="fw-bolder">{{ common_trans.previous_post }}</h4>
            </div>
              {% include 'core/blog_card.html' with post=previous_post %}
            <a href="{{previous_post.url}}{{filter.qstring}}" class="stretched-link"></a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endcache %}
