{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags widget_tweaks comments comments_xtd %}

{% block content %}

{% if self.blog_type == 'TechBlogDetailPage' %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/prism.css' %}">
  <script src="{% static 'js/prism.js' %}"></script>
{% endif %}

{% with self.get_parent.specific as blog_index %}

  {% image blog_index.banner_image fill-2100x525-c100 format-webp as webp_img_w_2100 %} 
  {% image blog_index.banner_image fill-1500x375-c100 format-webp as webp_img_w_1500 %} 
  {% image blog_index.banner_image fill-900x225-c100 format-webp as webp_img_w_900 %} 
  {% image blog_index.banner_image fill-600x150-c100 format-webp as webp_img_w_600 %}
  {% image blog_index.banner_image fill-2100x525-c100 as fallback %} 

  <div class="banner-overlay-container">
    <picture>
      <source media="(min-width: 1800px)" srcset="{{ webp_img_w_2100.url }} 2100w" type="image/webp" />
      <source media="(min-width: 1200px)" srcset="{{ webp_img_w_1500.url }} 1500w" type="image/webp" />
      <source media="(min-width: 750px)" srcset="{{ webp_img_w_900.url }} 900w" type="image/webp" />
      <source srcset="{{ webp_img_w_600.url }} 600w" type="image/webp" />
      <source srcset="{{ fallback.url }} 2100w" />
      <img
        src="{{ fallback.url }}"
        alt="{{ self.title }}"
        style="width: 100%; height: auto"
      />
    </picture>
    {% if blog_index.banner_headline or blog_index.banner_small_text %}
    <div class="banner-overlay-text-block" style="self-fit: cover;">
      {% if blog_index.banner_headline %}
        <div class="display-6" style="font-size:calc(0.5rem + 2vw);">
          {{ blog_index.banner_headline }}
        </div>
      {% endif %}
      {% if blog_index.banner_small_text %}
        <div class="display-8" style="font-size:calc(0.4rem + 1vw);">
          <a href="{{ blog_index.url }}" class="text-light">{{ blog_index.banner_small_text }}</a>
        </div>
      {% endif %}
    </div>
    {% endif %}
  </div>

{% endwith%}

<div class="container-fluid pt-3 px-2 px-sm-5 pb-2">
    <nav class="navbar navbar-expand navbar-dark bg-info">
        <div class="navbar-text px-3 text-light">Posted in:</div>
        <div class="navbar-nav">
            {% for item in self.categories.all %}
                <a class="nav-link active" href="{{ self.get_parent.url }}?category={{item.slug}}">{{ item.name }}</a>
            {% endfor %}
        </div>        
    </nav>
</div>

<div class="container-fluid pt-2 px-2 px-sm-5 pb-5">

  {% for block in page.body %}
      {% include_block block %}
  {% endfor %}

</div>

<div class="container-fluid pt-1 px-2 px-sm-5 pb-1">
  {% if page.tags.count %}
      {% for tag in page.tags.all %}
          {# Loop through all the existing tags #}
          <a href="{{ self.get_parent.url }}?tag={{ tag.slug }}"
              class="btn btn-sm bg-info text-light">#{{ tag }}
          </a>
          &nbsp;
      {% endfor %}
  {% endif %}
</div>

{% get_comment_count for page as comment_count %}
<div class="container-fluid pt-3 px-2 px-sm-5 pb-1">
  <div class="card text-white bg-info mb-2">
    <div class="card-header">
      Comments:
    </div>
  </div>    
  {% if comment_count %}
    {% render_xtdcomment_tree for page allow_feedback show_feedback %}
  {% endif %}
  {% if not request.user.is_authenticated %}
      {% get_current_language as LANGUAGE_CODE %}
      <div id="id_comment_invite" class="container-fluid mt-4">
          <p>
          <a href="/{{LANGUAGE_CODE}}/accounts/login" id="id_login_first_link">{% trans "Log in" %}</a> 
          {% trans "or"%}
          <a href='/{{LANGUAGE_CODE}}/accounts/signup'>{% trans "sign up"%}</a> 
          {% trans "to comment:" %}
          </p>
      </div>
  {% else %}
      <div class="container-fluid mt-4 comment-form">
          {% render_comment_form for page %}
      </div>
  {% endif %}
</div> 

<div class="px-5 pt-2 pb-4">
  <hr>
</div>

{#  Next and Previous blog posts #}

<div class="d-flex pt-0 px-2 px-sm-3 px-md-4 px-lg-5 px-xl-7 justify-content-around flex-nowrap" style="gap: 1.5rem;">
  <div class="card w-50 justify-content-around text-center border-0" style="max-width: 400px;">
    {% if next_post %}
    <div class="mb-auto bg-light border-1">
      <a class="stretched-link" href="{{ next_post.url }}{{ filter }}" title="{{ next_post.title }}">
        {% image next_post.search_image fill-400x200-c100 format-webp as webp_img_w_400 %}
        {% image next_post.search_image fill-400x200-c100 as fallback %}
        <picture>
            <source srcset="{{ webp_img_w_400.url }} 400w" type="image/webp" />
            <source srcset="{{ fallback.url }} 400w" />
            <img
                src="{{ fallback.url }}"
                alt="{{ next_post.title }}"
                style="width: 100%; height: auto"
            />
        </picture>
      </a>
      <div class="card-body">
      <h5 class="card-title">{{ next_post.title }}</h5>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="card w-50 justify-content-around text-center border-0" style="max-width: 400px;">
    {% if previous_post %}
    <div class="mb-auto bg-light border-1">
      <a class="stretched-link" href="{{ previous_post.url }}{{ filter }}" title="{{ previous_post.title }}">
        {% image previous_post.search_image fill-400x200-c100 format-webp as webp_img_w_400 %}
        {% image previous_post.search_image fill-400x200-c100 as fallback %}
        <picture>
            <source srcset="{{ webp_img_w_400.url }} 400w" type="image/webp" />
            <source srcset="{{ fallback.url }} 400w" />
            <img
                src="{{ fallback.url }}"
                alt="{{ previous_post.title }}"
                style="width: 100%; height: auto;"
            />
        </picture>
      </a>
      <div class="card-body">
      <h5 class="card-title">{{ previous_post.title }}</h5>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<p>&nbsp;</p>
{% endblock content %}
