{% extends "base.html" %} 
{% load static i18n wagtailcore_tags wagtailimages_tags widget_tweaks comments comments_xtd socialaccount %} 

{% block content %}

{# Login Form JS #}
<script>
  $(document).ready(function () {
    $("#id_login_first_link").click(function (event) {
      event.preventDefault();
      $("#id_login_form").show();
    });

    $("#id_submit_login_form").click(function (event) {
      event.preventDefault();

      $.ajax({
        type: "POST",
        url: "{% url 'account_login' %}",
        data: $("#id_login_form").serialize(),
        success: function (response, status) {
          $("#id_login_form").hide();
          $("#id_login_first_link").hide();
          location.reload();
        },
        error: function (xhr, status, error) {
          $("#id_login_form").submit();
        },
      });
    });
  });
</script>

{# Code Block JS - only load if tech blog #}
{% if self.blog_type == 'TechBlogDetailPage' %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/prism.css' %}">
  <script src="{% static 'js/prism.js' %}"></script>
{% endif %} 

{# Page Banner #}
{% with self.get_parent.specific as blog_index %} 
  {% image blog_index.banner_image fill-2100x525-c100 format-webp as webp_img_w_2100 %} 
  {% image blog_index.banner_image fill-1500x375-c100 format-webp as webp_img_w_1500 %} 
  {% image blog_index.banner_image fill-900x225-c100 format-webp as webp_img_w_900 %} 
  {% image blog_index.banner_image fill-600x150-c100 format-webp as webp_img_w_600 %} 
  {% image blog_index.banner_image fill-2100x525-c100 as fallback %}

  <div class="banner-overlay-container">
    <picture>
      <source media="(min-width: 1800px)" srcset="{{ webp_img_w_2100.url }} 2100w" type="image/webp"/>
      <source media="(min-width: 1200px)" srcset="{{ webp_img_w_1500.url }} 1500w" type="image/webp"/>
      <source media="(min-width: 750px)" srcset="{{ webp_img_w_900.url }} 900w" type="image/webp"/>
      <source srcset="{{ webp_img_w_600.url }} 600w" type="image/webp"/>
      <source srcset="{{ fallback.url }} 2100w" />
      <img src="{{ fallback.url }}" alt="{{ self.title }}" style="width: 100%; height: auto"/>
    </picture>
    {% if blog_index.banner_headline or blog_index.banner_small_text %}
      <div class="banner-overlay-text-block ps-2 ps-md-3 ps-lg-4 pt-1 pt-md-0">
        {% if blog_index.banner_headline %}
          <div class="banner-headline">
            {{ blog_index.banner_headline }}
          </div>
        {% endif %} 
        {% if blog_index.banner_small_text %}
          <div class="banner-subheading">
            <a href="{{ blog_index.url }}" class="text-light">{{ blog_index.banner_small_text }}</a>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

{% endwith%}

<div class="container-fluid mt-4 px-2 px-sm-5 pb-1">

  {# Categories #}
  <div class="row rounded bg-info py-2 px-3 mx-1 my-2 border-primary border-1">
      <div class="col-auto category-link active d-flex flex-nowrap pe-3">
          Posted in:
      </div>
      <div class="col">
          <div class="row">
            {% for item in self.categories.all %}
              <div class="col-auto">
                <a class="category-link{% if item.slug == category_filter %} active{% endif %}" href="{{ self.get_parent.url }}?category={{item.slug}}">
                  {{ item.name }}
                </a>
              </div>        
            {% endfor %}
          </div>        
      </div>        
  </div>

  {# Blog Content #}
  <h1 class="h3 text-center pt-4">{{ self.title }}</h1>
  {% for block in page.body %} 
    {% include_block block %} 
  {% endfor %}
</div>

{# Tags #}
{% if page.tags.count %} 
  <div class="row rounded bg-info py-2 px-3 mx-2 mx-sm-5 my-2 border-primary border-1">
      <div class="col-auto tag-link active d-flex flex-nowrap pe-3">
          Tagged with:
      </div>
      <div class="col">
          <div class="row">
            {% for tag in page.tags.all %} 
              <div class="col-auto">
                <a class="tag-link" href="{{ self.get_parent.url }}?tag={{ tag.slug }}">
                  #{{ tag }}
                </a>
              </div>        
            {% endfor %}
          </div>        
      </div>        
  </div>  
{% endif %}

{# Comments #}
{% get_comment_count for page as comment_count %}
<div class="container-fluid pt-3 px-2 px-sm-5 pb-1">
  <div class="card">
    <div class="comments-header bg-info ">
      Comments:
    </div>
    <div class="card-body">
      {# Show Comments #}
      {% if comment_count %} 
        {% render_xtdcomment_tree for page allow_feedback show_feedback %} 
      {% endif %} 
      {# Show Comment if Signed In, Show Login Invite If Not #}
      {% if not request.user.is_authenticated %}
        <div id="id_comment_invite" class="mt-3">
            <a href="#" id="id_login_first_link">
              {% trans "Sign in" %}
            </a>
            {% trans " to leave a comment." %}
        </div>
      {% else %}
        <div class="mt-3">
          {% render_comment_form for page %}
        </div>
      {% endif %}
    </div>
    {# Login Form - hidden initially, shown by Sign In link via JS #}
    {% if not request.user.is_authenticated %}
    <div class="container mt-1 mt-sm-2 mt-md-3 ms-0">
      <form method="POST" id="id_login_form" action="{% url 'account_login' %}" style="display: none" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="row align-items-end">
          <div class="col-sm-6 col-md-5 form-group">
            {% with field=login_form.login %}
              {% include "account/form_field.html"%}
            {% endwith %}
          </div>
          <div class="col-sm-6 col-md-5 form-group">
            {% with field=login_form.password %}
              {% include "account/form_field.html" %}
            {% endwith %}
          </div>
          <div class="col-md-2 form-group">
            <button id="id_submit_login_form" class="btn btn-outline-primary">
              {% trans "Sign in" %}
            </button>
          </div>
        </div>
        {# Social Connections #}
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
            {% blocktrans with site.name as site_name %}Connect with Social Media:{% endblocktrans %}
            <div class="py-2">
            {% for provider in socialaccount_providers %}
                <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }} social-login-link" 
                    href="{% provider_login_url provider.id process="login" next=request.path  scope=scope auth_params=auth_params %}">
                    <img alt="{{ provider.name }}" class="social-login-icon" src="{% static 'images/' %}{{ provider.name }}logo.png" width="40" height="40">
                </a>
            {% endfor %}
            </div>
        {% endif %}
        {# Invite to Sign Up #}
        <p><a href="{% url 'account_signup' %}">Sign up</a> with email address.</p>
      </form>
    </div>
  
  </div>
  {% endif %} 
  
</div>

<div class="px-5 pt-3">
  <hr />
</div>

{# Next and Previous blog posts #}
<div class="row">
  <div class="col-md-6">
    {% if next_post %}
      <div class="card h-100 border-0">
        <div class="px-0 py-2">
          <h4>Next Post</h4>
        </div>
        <div class="card h-100 p-2">
          {% image next_post.search_image fill-400x200-c100 format-webp as webp_img_w_400 %} 
          {% image next_post.search_image fill-400x200-c100 as fallback %}
          <picture>
            <source srcset="{{ webp_img_w_400.url }} 400w" type="image/webp" />
            <source srcset="{{ fallback.url }} 400w" />
            <img
              src="{{ fallback.url }}"
              alt="{{ next_post.title }}"
              style="width: 100%; height: auto"
            />
          </picture>
          <div class="card-body">
              <h5 class="card-title">{{ next_post.title }}</h5>
              <p class="blog-summary">{{ next_post.summary|linebreaksbr }}</p>
              <p class="blog-summary small">{{ next_post.first_published_at }}</small></p>
          </div>
        </div>
        <a href="{{next_post.url}}{{filter}}" class="stretched-link"></a>
      </div>
    {% endif %}
  </div>
  <div class="col-md-6">
  {% if previous_post %}
    <div class="card h-100 border-0">
      <div class="px-0 py-2 text-end">
        <h4>Previous Post</h4>
      </div>
      <div class="card h-100 p-2">
        {% image previous_post.search_image fill-400x200-c100 format-webp as webp_img_w_400 %} 
        {% image previous_post.search_image fill-400x200-c100 as fallback %}
        <picture>
          <source srcset="{{ webp_img_w_400.url }} 400w" type="image/webp" />
          <source srcset="{{ fallback.url }} 400w" />
          <img
            src="{{ fallback.url }}"
            alt="{{ previous_post.title }}"
            style="width: 100%; height: auto"
          />
        </picture>
        <div class="card-body">
            <h5 class="card-title">{{ previous_post.title }}</h5>
            <p class="blog-summary">{{ previous_post.summary|linebreaksbr }}</p>
            <p class="blog-summary small">{{ previous_post.first_published_at }}</small></p>
        </div>
      </div>
      <a href="{{previous_post.url}}{{filter}}" class="stretched-link"></a>
    </div>
  {% endif %}
</div>

<p>&nbsp;</p>
{% endblock content %}

{# jquery needed to show login form #}
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"
></script>
