{% extends "base.html" %}
{% load static adv_cache wagtailimages_tags wagtailcore_tags core_tags %}

{% block header %}
    {# Page Banner #}
    {% include 'core/banner_image.html' %}
{% endblock header %}

{% block content %}
{% get_template_set 'common' as trans %}
<div class="container-fluid pt-0 pt-md-2 px-2 px-sm-5 pb-4">

    {# Top Content Section #}
    {% cache None page.slug "body" self.last_published_at %}

        {% for block in page.top_section %}
            {% include_block block %}
        {% endfor %}

        {# Filter #}

        <div class="container-fluid py-2 ps-3 ps-md-4 rounded bg-info border-primary border-1">
            <div class="row">
                <div class="col-auto text-white order-0">
                    <span class="category-link active" id='filter'>{{ trans.filter }}</span>
                </div>
                <div class="col-auto text-light ms-auto me-3 justify-content-end px-0 order-2">
                    <a href=".#filter" class="btn btn-sm btn-close btn-close-white m-n2" role="button" title="{{ trans.clear_filter }}"></a>
                </div>
                <div class="col-sm-auto text-light order-3 order-sm-1">
                    {% nocache %}
                        <div class="row pt-0">
                            {% for item in categories %}
                                <div class="col-auto">
                                    <a class="category-link{% if item.slug == category_filter %} active{% endif %}" href="?category={{item.slug}}#filter">{{ item.name }}</a>
                                </div>        
                            {% endfor %}
                        </div>        
                        <div class="row">
                            {% for item in tags %}
                                <div class="col-auto">
                                    <a class="tag-link{% if item.slug == tag_filter %} active{% endif %}" href="?tag={{item.slug}}#filter">#{{ item.name }}</a>
                                </div>        
                            {% endfor %}
                        </div>  
                    {% endnocache %}
                </div>
            </div>
        </div>

        {# Blog List #}
        <div class="p-1 p-sm-2 p-md-3 mt-2 mt-sm-3 mt-md-4 bg-light rounded">
            {% nocache %}
            <span id='list'></span>
            {% include 'core/blog_posts.html' %}
            {% endnocache %}
        </div>

        {# Bottom Content Section #}

        {% for block in page.bottom_section %}
            {% include_block block %}
        {% endfor %}

    {% endcache %}

</div>

{# Paginator #}
<div>
    {% if posts.paginator.num_pages > 1 %}
        {% paginator_filter filter as pgn_filter %}
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not posts.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="{% if posts.has_previous %}{{ pgn_filter }}page=1#list{% endif %}" tabindex="-1" {% if not posts.has_previous %}aria-disabled="true"{% endif %}><span>&laquo;&laquo;</span></a>
                </li>
                <li class="page-item {% if not posts.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="{% if posts.has_previous %}{{ pgn_filter }}page={{ posts.previous_page_number }}#list{% endif %}" tabindex="-1" {% if not posts.has_previous %}aria-disabled="true"{% endif %}><span>&laquo;</span></a>
                </li>
                {% if page_range_first > 1 %}
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>      
                {% endif %}                
                {% for page_num in page_range %}
                    {% if page_num == posts.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="{{ pgn_filter }}page={{ page_num }}#list">{{ page_num }} <span class="sr-only">(current)</span></a>
                        </li>      
                    {% else %}
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="{{ pgn_filter }}page={{ page_num }}#list">{{ page_num }}</a>
                        </li>      
                    {% endif %}          
                {% endfor %}
                {% if page_range_last < posts.paginator.num_pages %}
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>      
                {% endif %}
                <li class="page-item {% if not posts.has_next %}disabled{% endif %}">
                    <a class="page-link" href="{% if posts.has_next %}{{ pgn_filter }}page={{ posts.next_page_number }}#list{% endif %}" {% if not posts.has_previous %}aria-disabled="true"{% endif %}><span>&raquo;</span></a>
                </li>
                <li class="page-item {% if not posts.has_next %}disabled{% endif %}">
                    <a class="page-link" href="{% if posts.has_next %}{{ pgn_filter }}page={{ posts.paginator.num_pages }}#list{% endif %}" {% if not posts.has_next %}aria-disabled="true"{% endif %}><span>&raquo;&raquo;</span></a>
                </li>
            </ul>
        </nav>    
    {% endif %}
</div>

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/masonry.pkgd.js'%}"></script>
    <script src="{% static 'js/masonry.extra.js'%}"></script>
{% endblock %}

