code {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-6);
  text-align: left !important;
  color: darkslateblue;
  background-color: wheat;
  padding: 0.06rem 0.3rem;
  border-radius: 0.3rem;
}