/* --------------------------------------------------------------------- */
/* Draftail Styles */
/* --------------------------------------------------------------------- */

.Draftail-Editor .DraftEditor-root {
  font-size: unset;
  line-height: 1.4;
}
.Draftail-Toolbar {
  background-color: var(--w-color-surface-menus) !important;
  color: var(--w-color-text-label-menus-default) !important;
  border-bottom: 1px solid var(--w-color-border-field-default) !important;
  /* float toolbar so always visible */
  position: sticky !important;
  top: calc(0.2rem + 50px) !important;
  z-index: 2 !important;
}
@media screen and (max-width: 800px) {
  .Draftail-Toolbar {
    /* double top height when top menu wraps at 800px */
    top: calc(0.2rem + 100px) !important;
  }
}
.Draftail-ToolbarGroup {
  /* allow toolbar button groups to wrap */
  display: contents !important;
}
.Draftail-ToolbarGroup.Draftail-ToolbarGroup--controls {
  /* force comment button inline */
  display: inline-block !important;
}
.Draftail-Editor .public-DraftEditor-content {
  /* prevent v-scroll loading unnecessarily */
  padding: 1rem 0.5rem;
}
.public-DraftStyleDefault-ltr {
  text-align: justify;
}
.Draftail-Editor .DraftEditor-root{
    font-family: var(--font-family-body);
}
.Draftail-ToolbarButton {
  padding: 0.1rem 0.2rem 0.2rem 0.3rem !important;
}
.Draftail-block--blockquote {
  border-inline-start: 0.5rem solid var(--bs-info) !important;
  border-radius: 0.25rem;
  background-color: var(--bs-light);
  color: var(--bs-dark) !important;
  font-style: normal;
  font-family: var(--font-family-headings);
  font-weight: 500;
  padding: 1rem 2rem !important;
}
.Draftail-block--header-two {
  font-size: var(--font-size-2) !important;
}
.Draftail-block--header-three {
  font-size: var(--font-size-3) !important;
}
.Draftail-block--header-four {
  font-size: var(--font-size-4) !important;
}
.Draftail-block--header-five {
  font-size: var(--font-size-5) !important;
}
.Draftail-block--header-six {
  font-size: var(--font-size-6) !important;
}
.Draftail-block--unstyled  {
  font-size: var(--font-size-body) !important;
  font-family: var(--font-family-body) !important;
}