{% load wagtailcore_tags wagtailimages_tags menu_tags %}
{% get_autofill_pages as links %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       title="{{ self.title }}"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        {% if self.icon %}
            {% image self.icon fill-25x25 %}
        {% endif %}
        {% if self.title %}
            <div{% if self.icon %} class="ps-2"{% endif %}>{{ self.title }}</div>
        {% endif %}
    </a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-w20{% if self.sticky %} position-absolute{% endif %}">
        {% include "menu/autolink_block.html" %}
    </ul>
</li>
