{% for link in links %}
    <li class="dropdown-item menustream menustream{{ menu.breakpoint }} menustream-{{ menu.slug }} {{ link.active }}">
        <a class="nav-link menustream menustream{{ menu.breakpoint }} menustream-{{ menu.slug }} {{ link.active }}"
           href="{{ link.url }}"
           title="{{ link.title }}">
           <span>{{ link.title }}</span>
        </a>
    </li>
    {% if forloop.first and self.include_parent_page %}
        <li>
            <hr class="dropdown-divider">
        </li>
    {% endif %}
{% endfor %}
