{% load adv_cache wagtailcore_tags core_tags menu_tags %}
{# pass menu object variable in context #}
{% comment %} {% get_cache_key_settings as cache_settings %} {% endcomment %}
{% comment %} {% cache None cache_settings.cache_name menu.slug cache_settings.cache_date %} {% endcomment %}
<nav class="navbar navbar-expand{{ menu.breakpoint }} p-1 menustream menustream-{{ menu.slug }}">
  <div class="container-fluid justify-content-end menustream-container menustream-container-{{ menu.slug }}">
    {% include "menu/brand.html" %}
    {% for item in menu.items %}
      {% show_on_menu item.value as show %}
      {% if show %}
        <div class="{% if item.value.sticky %}d-flex{% if menu.breakpoint %} order-0{% endif %} {% else %} collapse navbar-collapse collapse-{{ menu.slug }} flex{{ menu.breakpoint }}-grow-0{% if menu.breakpoint %} order-1 order{{ menu.breakpoint }}-0{% endif %} {% endif %}">
          <ul class="navbar-nav menustream menustream{{ menu.breakpoint }} menustream-{{ menu.slug }}">
            {% include_block item with link_type='nav-item' %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
    <div class="sub-menu-spacer collapse collapse-{{ menu.slug }} d{{ menu.breakpoint }}-none order-1 py-1"></div>
    <button class="navbar-toggler navbar-dark menu-toggler-{{ menu.slug }}"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target=".collapse-{{ menu.slug }}"
            aria-controls="navbar-{{ menu.slug }}"
            aria-expanded="false"
            aria-label="Toggle navigation"
            onclick="document.activeElement.blur();">
      <span class="navbar-toggler-icon menustream menustream{{ menu.breakpoint }} menustream-{{ menu.slug }}"></span>
    </button>
  </div>
</nav>
{% comment %} {% endcache %} {% endcomment %}