{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid pt-0 pt-md-2 px-2 px-sm-5 pb-4">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11 col-sm-12">
                <div class="card mt-4">
                    <div class="card-header pt-3 pb-0">
                        {% block card-header %}{% endblock %}
                    </div>
                    <div class="card-body">
                        {% block card-body %}{% endblock %}
                    </div>
                    <div class="card-footer text-muted text-center">
                        {% block card-footer %}{% endblock %}
                    </div>
               </div>
            </div>
        </div>
    </div>

{% endblock %}