{% extends "base.html" %}
{% load core_tags %}
{% block content %}
    {% get_template_set "accounts" as trans %}
    <title>Enzed Online - {{ trans.account_deleted_title }}</title>
    <div class="container-fluid text-center centre-screen">
        <div class="px-3">
            <h2 class="text-center">
                <i class="fas fa-check text-success"></i> {{ trans.account_deleted_message }}
            </h2>
        </div>
    </div>
    <script>
        {# Redirect to home page after 3 seconds #}
        setTimeout(() => {window.location.href = "/";}, 3000);          
    </script>
{% endblock content %}
