{% extends "account/base_card.html" %}
{% load core_tags %}
{% block card-header %}
    {% get_template_set "accounts" as trans %}
    <title>Enzed Online - {{ trans.account_delete_title }}</title>
    <h3>{{ trans.account_delete_title }}</h3>
{% endblock card-header %}
{% block card-body %}
    {% get_template_set "accounts" as trans %}
    <form method="POST">
        {% csrf_token %}
        <p>{{ trans.delete_confirm }}</p>
        <button type="submit" class="btn btn-danger">{{ trans.delete }}</button>
    </form>
    <br>
    <p>{{ trans.do_not_delete }}</p>
    <a href="/" class="btn btn-success">{{ trans.return_to_site }}</a>
{% endblock card-body %}
