{% extends "base.html" %}
{% load i18n  %}

{% block body_class %}template-404{% endblock %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}
    <title>Enzed Online - Page Not Found</title>
{% endblock extra_head %}

{% block content %}
    <div class="text-center w-100" style="position: absolute; top: 50%;-ms-transform: translateY(-50%); transform: translateY(-50%);" >
        <p><i class="fas fa-check fa-3x text-success"></i></p>
        <h2>Account successfully deleted.  </h2>
    </div>
    <script>
        {# Redirect to home page after 2 seconds #}
        window.setTimeout(function(){
            window.location.href = "/";
        }, 2000);
    </script>
{% endblock %}
