{% load widget_tweaks %}
{% if field.label %}
    <p class="h5{% if field.field.required %} required-field{% endif %}">{{ field.label_tag }}</p>
{% endif %}
{% if form.is_bound %}
    {% if field.errors %}
        {% with classlist=extra_css|default_if_none:""|add:" form-control is-invalid" %}
            {% render_field field class=classlist %}
        {% endwith %}
        <div class="invalid-feedback">{{ field.errors }}</div>
    {% else %}
        {% if form.non_field_errors %}
            {% with classlist=extra_css|default_if_none:""|add:" form-control" %}
                {% render_field field class=classlist %}
            {% endwith %}
        {% else %}
            {% with classlist=extra_css|default_if_none:""|add:" form-control is-valid" %}
                {% render_field field class=classlist %}
            {% endwith %}
        {% endif %}
    {% endif %}
{% else %}
    {% with classlist=extra_css|default_if_none:""|add:" form-control" %}
        {% render_field field class=classlist %}
    {% endwith %}
{% endif %}
