{% extends 'account/base_card.html' %}

{% load i18n socialaccount redirect %}


{% block title %}{% trans "Sign in" %}{% endblock %}

{% block card-header %}
<h3>{% trans "Sign in" %}</h3>
{% endblock %}

{% block card-body %}

    {% get_providers as socialaccount_providers %}
    {% get_next_url request as next_url %}

    <form method="POST" action="{% url 'account_login' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {% with field=form.login %}{% include "account/form_field.html" %}{% endwith %}
        </div>
        <div class="form-group">
            {% with field=form.password %}{% include "account/form_field.html" %}{% endwith %}
        </div>
        <input type="hidden" name="next" value="{{ next_url }}" />
        <button type="submit" class="btn btn-primary">{% trans "Sign in" %}</button>
    </form>
    {% if socialaccount_providers %}
        <br>
        <p>{% blocktrans with site.name as site_name %}or sign in with one of your social accounts:{% endblocktrans %}</p>
        {% include "socialaccount/provider_list.html" with process="login" next=next_url %}
    {% endif %}

{% endblock %}

{% block card-footer %}
    <p>{% trans "Don't have an account?" %} <a href="{{ signup_url }}">{% trans "Sign up" %}</a></p>
    <small>
        <a class="text-muted" href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
    </small>
{% endblock %}