{% extends 'account/base_card.html' %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Change Password" %}</h3>
{% endblock %}

{% block card-body %}
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        <div class="form-group">
            {% with field=form.password1 %}{% include "account/form_field.html" %}{% endwith %}
        </div>
        <div class="form-group">
            {% with field=form.password2 %}{% include "account/form_field.html" %}{% endwith %}
        </div>
        <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
