  
{% extends 'account/base_card.html' %}

{{% load core_tags %}

{% block card-header %}
    {% get_template_set 'accounts' as trans %}
    <title>Enzed Online - {{ trans.pwd_reset_title }}</title>
    <h3>{{ trans.pwd_reset_title }}</h3>
{% endblock %}

{% block card-body %}
    {% get_template_set 'accounts' as trans %}

    <h5>{{ trans.reset_pwd_request_prompt }}</h5>

    <form method="POST" action="{% url 'account_reset_password' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        {% if request.user.is_authenticated %}
            <input type="hidden" name="email" id="id_email" value="{{ user.email }}">
            <p class="text-dark fw-lighter">{{ trans.link_will_be_sent_to }} {{ user.email }}</p>
        {% else %}
            <div class="form-group">
                {% with field=form.email %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-primary">{{ trans.pwd_reset_title }}</button>
    </form>


{% endblock %}