{% extends "account/base_card.html" %}
{% load core_tags %}
{% block card-header %}
    {% get_template_set "accounts" as trans %}
    <title>Enzed Online -
        {% if token_fail %}
            {{ trans.bad_token }}
        {% else %}
            {{ trans.pwd_change_title }}
        {% endif %}
    </title>
    <h3>
        {% if token_fail %}
            {{ trans.bad_token }}
        {% else %}
            {{ trans.pwd_change_title }}
        {% endif %}
    </h3>
{% endblock card-header %}
{% block card-body %}
    {% get_template_set "accounts" as trans %}
    {% if token_fail %}
        {% url "account_reset_password" as passwd_reset_url %}
        <p>{{ trans.bad_token_msg }}</p>
        <a href="{{ passwd_reset_url }}" class="btn btn-primary" role="button">{{ trans.resend }}</a>
    {% else %}
        {% if form %}
            <form method="POST"
                  action="{{ action_url }}"
                  class="needs-validation"
                  novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {% with field=form.password1 %}
                        {% include "account/form_field.html" %}
                    {% endwith %}
                </div>
                <div class="form-group">
                    {% with field=form.password2 %}
                        {% include "account/form_field.html" %}
                    {% endwith %}
                </div>
                <input type="submit"
                       name="action"
                       class="btn btn-primary"
                       value="{{ trans.pwd_change_title }}" />
            </form>
        {% else %}
            <p>{{ trans.pwd_updated_msg }}</p>
        {% endif %}
    {% endif %}
{% endblock card-body %}
