{% extends 'account/base_card.html' %}

{% load core_tags %}

{% block card-header %}
    {% get_template_set 'accounts' as trans %}
    <title>Enzed Online - {{ trans.profile_title }}</title>
    <h3>{{ trans.profile_title }}</h3>
{% endblock %}

{% block card-body %}
    {% get_template_set 'accounts' as trans %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 pb-2">
                <p class="alert alert-light p-2 mb-2">{{ trans.email }}</p>
                <span class="ps-2">{{ request.user.email }}</span>
            </div>
            <div class="col-md-6 pb-2">
                <p class="alert alert-light p-2 mb-2">{{ trans.display_name }}</p>
                <span class="ps-2">{{ request.user.display_name }}</span>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-sm-6 pb-2">
                <p class="alert alert-light p-2 mb-2">{{ trans.first_name }}</p>
                <span class="ps-2">{{ request.user.first_name|default:'-' }}</span>
            </div>
            <div class="col-sm-6 pb-2">
                <p class="alert alert-light p-2 mb-2">{{ trans.last_name }}</p>
                <span class="ps-2">{{ request.user.last_name|default:'-' }}</span>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-sm-6 pb-2">
                <p class="alert alert-light p-2 mb-2">{{ trans.city }}</p>
                <span class="ps-2">{{ request.user.city|default:'-' }}</span>
            </div>
            <div class="col-sm-6 pb-2">
                <p class="alert alert-light p-2 mb-2">{{ trans.country }}</p>
                <span class="ps-2">{{ request.user.country|default:'-' }}</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block card-footer %}
    {% get_template_set 'accounts' as trans %}
    <a href="{% url 'account_update' request.user.url %}">{{ trans.update_profile }}</a>
{% endblock %}