{% extends "account/base_card.html" %}
{% load core_tags socialaccount redirect %}
{% block extra_css %}
    <style>
        .recaptcha {
            margin: 0;
        }
        .recaptcha > p,
        .recaptcha > input {
            display:none;
        }
    </style>
{% endblock extra_css %}
{% block extra_scripts %}
    <script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_key }}'></script>
    <script>
        $(document).ready(() => {
            $('#btnSubmit').on('click', (e) => {
                e.preventDefault();       
                grecaptcha.ready(() => {
                    grecaptcha.execute('{{ recaptcha_key }}', { action: "signup" }).then((token) => {
                        $('#id_recaptcha').val(token);
                        $('#signUpForm').submit();
                    });
                });
            });
        });
    </script>
{% endblock extra_scripts %}
{% block card-header %}
    {% get_template_set "accounts" as trans %}
    <title>Enzed Online - {{ trans.sign_up }}</title>
    <h3>{{ trans.sign_up }}</h3>
{% endblock card-header %}
{% block card-body %}
    {% get_template_set "accounts" as trans %}
    {% get_next_url request as next_url %}
    <form method="POST"
          action="{% url 'account_signup' %}"
          class="needs-validation"
          id="signUpForm"
          novalidate>
        {% csrf_token %}
        {% if form.errors or form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ trans.form_error }}</div>
        {% endif %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.email %}
                    {% include "account/form_field.html" %}
                {% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.display_name %}
                    {% include "account/form_field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.password1 %}
                    {% include "account/form_field.html" %}
                {% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.password2 %}
                    {% include "account/form_field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.first_name %}
                    {% include "account/form_field.html" %}
                {% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.last_name %}
                    {% include "account/form_field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                {% with field=form.website %}
                    {% include "account/form_field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="recaptcha col-12">
                {% with field=form.recaptcha %}
                    {% include "account/form_field.html" %}
                {% endwith %}
            </div>
        </div>
        <button type="submit" id="btnSubmit" class="btn btn-primary">{{ trans.sign_up }}</button>
    </form>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <br>
        <p>{{ trans.login_with_social_suggest }}</p>
        {% include "socialaccount/provider_list.html" with process="login" next=next_url %}
    {% endif %}
{% endblock card-body %}
{% block card-footer %}
    {% get_template_set "accounts" as trans %}
    <p>
        {{ trans.existing_account_question }} <a href="{% url 'account_login' %}" rel="nofollow">{{ trans.sign_in }}</a>
    </p>
{% endblock card-footer %}
