{% extends "account/base_card.html" %}
{% load core_tags socialaccount social_accounts %}
{% block card-header %}
    {% get_template_set "accounts" as trans %}
    <title>Enzed Online - {{ trans.update_account }}</title>
    <h3>{{ trans.update_account }}</h3>
{% endblock card-header %}
{% block card-body %}
    {% get_template_set "accounts" as trans %}
    {% get_providers as socialaccount_providers %}
    <div class="row">
        <div class="col-md-8">
            <form method="POST"
                  action="{% url 'account_update' request.user.url %}"
                  enctype="multipart/form-data"
                  class="needs-validation"
                  novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {% with field=form.display_name %}
                        {% include "account/form_field.html" %}
                    {% endwith %}
                </div>
                <div class="row">
                    <div class="form-group col-sm">
                        {% with field=form.first_name %}
                            {% include "account/form_field.html" %}
                        {% endwith %}
                    </div>
                    <div class="form-group col-sm">
                        {% with field=form.last_name %}
                            {% include "account/form_field.html" %}
                        {% endwith %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm">
                        {% with field=form.city %}
                            {% include "account/form_field.html" %}
                        {% endwith %}
                    </div>
                    <div class="form-group col-sm">
                        {% with field=form.country %}
                            {% include "account/form_field.html" %}
                        {% endwith %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        {% with field=form.website %}
                            {% include "account/form_field.html" %}
                        {% endwith %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">{{ trans.update }}</button>
            </form>
        </div>
        <div class="col-md-4 pt-3 pt-md-0 ps-md-3">
            {% if socialaccount_providers %}
                <p class="h5 text-start">
                    <label>{{ trans.connect_your_social_account }}</label>
                </p>
                {% include "socialaccount/provider_list.html" with process="connect" %}
                {% social_accounts request as accounts %}
                {% if accounts %}
                    <p class="text-start mt-3">
                        <label>{{ trans.connected_social }}</label>
                    </p>
                    <form method="POST"
                          action="{% url 'socialaccount_connections' %}"
                          class="needs-validation"
                          novalidate>
                        {% csrf_token %}
                        <fieldset>
                            {% if form.non_field_errors %}<div id="errorMsg">{{ form.non_field_errors }}</div>{% endif %}
                            {% for base_account in accounts %}
                                {% with base_account.get_provider_account as account %}
                                    <div class="d-flex align-items-center text-start pb-2">
                                        <label for="id_account_{{ base_account.id }}">
                                            <input id="id_account_{{ base_account.id }}"
                                                   type="radio"
                                                   name="account"
                                                   value="{{ base_account.id }}" />
                                        </label>
                                        <div class="d-inline">
                                            {% with provider=base_account.provider|remove:"oidc_" %}
                                            <svg class="ms-2 me-1"
                                                 title="{{ provider }}"
                                                 height="1em"
                                                 width="1em">
                                                <use href="#icon-{{ provider|lower }}" />
                                            </svg>
                                            {% endwith %}
                                        </div>
                                        <div class="d-inline">{{ account.get_brand.name }} ({{ account }})</div>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                            <br>
                            <div>
                                <button type="submit" class="btn btn-outline-danger">{{ trans.remove }}</button>
                            </div>
                        </fieldset>
                    </form>
                {% else %}
                    <p>{{ trans.noconnected_social }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    &nbsp;
{% endblock card-body %}
{% block card-footer %}
    {% get_template_set "accounts" as trans %}
    <div class="text-center">
        <small>
            <a href="{% url 'account_delete' request.user.url %}"
               class="btn btn-sm btn-outline-danger">{{ trans.delete_account }}</a>
        </small>
    </div>
{% endblock card-footer %}
