{% extends 'account/base_card.html' %}

{% load i18n socialaccount %}

{% block title %}{% trans "Update account" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Update account" %}</h3>
{% endblock %}

{% block card-body %}

    {% get_providers as socialaccount_providers %}
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="{% url 'account_update' request.user.url %}" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {% with field=form.display_name %}{% include "account/form_field.html" %}{% endwith %}
                </div>
                <div class="row">
                    <div class="form-group col-sm">
                        {% with field=form.first_name %}{% include "account/form_field.html" %}{% endwith %}
                    </div>
                    <div class="form-group col-sm">
                        {% with field=form.last_name %}{% include "account/form_field.html" %}{% endwith %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm">
                        {% with field=form.city %}{% include "account/form_field.html" %}{% endwith %}
                    </div>
                    <div class="form-group col-sm">
                        {% with field=form.country %}{% include "account/form_field.html" %}{% endwith %}
                    </div>
                </div>
                <div class="form-group border-top border-bottom py-2">
                    <h5>{{form.photo.label}}:</h5>
                    <img src="{{ request.user.photo.url }}" class="profile-image mb-3 avatar" alt="{% trans 'User photo' %}" height="60px" width="60px">
                    <input type="file" name="photo" accept="image/*" class="form-control input-field-photo" id="id_photo">
                </div>
                <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
            </form>
        </div>
        <div class="col-md-4 pt-3 pt-md-0">
            {% if socialaccount_providers %}
                <p>{% blocktrans with site.name as site_name %}Connect your existing account to one of your social accounts:{% endblocktrans %}</p>
                {% include "socialaccount/provider_list.html" with process="connect" %}
            {% endif %}
        </div>
    </div>
    &nbsp;
{% endblock %}

{% block card-footer %}
    <div class="text-center">
        <small>
            <a href="{% url 'account_delete' request.user.url %}" class="btn btn-sm btn-outline-danger">{% trans "Delete your account" %}</a>
        </small>
    </div>
{% endblock %}