{% if item %}
    {% if item.comment.user.display_name %}
        <span class="text-primary text-center"><i class="fas fa-user fa-4x"></i></span>
    {% else %}
        <span class="text-secondary text-center"><i class="far fa-user fa-4x"></i></span>
    {% endif %}
{% else %}
    {% if comment.user.display_name %}
        <span class="text-primary text-center"><i class="fas fa-user fa-4x"></i></span>
    {% else %}
        <span class="text-secondary text-center"><i class="far fa-user fa-4x"></i></span>
    {% endif %}
{% endif %}

