<div class="card bg-light mb-3">
    <div class="row comment-card">
        <div class="col-auto ms-3 mt-2">
            {% include "comments/avatar.html" %}   
        </div>
        <div class="col ps-0">
        <div class="card-body ps-0 py-1">
            <p class="card-text">{{ comment.comment }}</p>
                <p class="h6 card-text pb-0">
                    <span id="date_{{ comment.pk }}"></span><span class="ps-1">-</span>
                    {% if comment.user_url %}<a href="{{ comment.user_url }}" target="_new" rel="nofollow">{% endif %}
                    {% include "comments/display_name.html" %}
                    {% if comment.user_url %}</a>{% endif %}
                    </p>
        </div>
        </div>
    </div>
</div>
<script>
    localDateTime(
        "date_{{ comment.pk }}",
        "{{ comment.submit_date|date:'Y-m-d H:i:s' }}"
    );
</script>