{% extends "base.html" %}
{% load adv_cache static wagtailcore_tags %}
{% block extra_head %}
    {% cache None cache_name "structure" cache_date %}
    {% include "service/structured_data.html" %}
{% endcache %}
{% endblock extra_head %}
{% block header %}
    {# Page Banner #}
    {% include "core/banner_image.html" %}
{% endblock header %}
{% block content %}
    {% cache None cache_name "body" cache_date %}
    <div class="container-fluid pt-0 pt-md-2 px-2 px-sm-5 pb-4">
        <div class="row mt-4">
            <h1 class="text-center">{{ self.title }}</h1>
        </div>
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
    </div>
{% endcache %}
{% endblock content %}
