{% load static structured_data_tags core_tags %} 
{% get_google_thumbnails self.search_image as thumbnails %}
{% get_social_media_sameas as sameAs %}
{% get_organisation_logo as logo %}

{% autoescape off %}
<script type="application/ld+json" id="thisArticle">
  {
    "@context": "https://schema.org",
    "@type": "{% if self.slug == 'about' %}AboutPage{% else %}WebPage{% endif %}",
    "headline": "{{ self.get_meta_title|replace_doublequotes }}",
    "name": "{{ self.title|replace_doublequotes }}",
    "description": "{{ self.summary|strip_newlines|replace_doublequotes }}",
    {% if thumbnails %}
    "image": ["{{ thumbnails.tn1x1.full_url }}","{{ thumbnails.tn4x3.full_url }}","{{ thumbnails.tn16x9.full_url }}"],
    {% endif %}
    "datePublished": "{{ self.first_published_at|date:'c' }}",
    "dateModified": "{{ self.last_published_at|date:'c' }}",
    "author": {
        "@type": "Person",
        "name": "{{ self.owner.get_full_name }}",
        "url": "{{ self.owner.website }}",
        "sameAs": [{{ sameAs }}]
    },
    "publisher": {
        "@type": "Organization",
        "@id": "{{ page.get_site.root_url }}",
        "name": "{{ page.get_site.site_name }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ logo }}"
        },
        "url": "{{ page.get_site.root_url }}",
        "sameAs": [{{ sameAs }}]
    },
    "url": "{{ self.full_url }}"
  }
</script>
{% endautoescape %}
