:root {
  --font-family-headings: "Quicksand", sans-serif;
  --font-family-body: "Work Sans", sans-serif;
  --font-family-monospace: "Roboto Mono", "Courier New", monospace;
  --font-size-1: clamp(2rem, 1.7993rem + 0.8451vw, 2.75rem);
  --font-size-2: clamp(1.8rem, 1.6261rem + 0.7324vw, 2.45rem);
  --font-size-3: clamp(1.6rem, 1.4662rem + 0.5634vw, 2.1rem);
  --font-size-4: clamp(1.4rem, 1.293rem + 0.4507vw, 1.8rem);
  --font-size-5: clamp(1.2rem, 1.1331rem + 0.2817vw, 1.45rem);
  --font-size-6: clamp(0.9rem, 0.8732rem + 0.1127vw, 1rem);
  --font-size-body: clamp(1rem, 0.9599rem + 0.169vw, 1.15rem);
  --bs-blue: #4582ec;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #d9534f;
  --bs-orange: #fd7e14;
  --bs-yellow: #f0ad4e;
  --bs-green: #02b875;
  --bs-teal: #20c997;
  --bs-cyan: #17a2b8;
  --bs-white: #fff;
  --bs-gray: #868e96;
  --bs-gray-dark: #343a40;
  --bs-primary: #4582ec;
  --bs-secondary: #adb5bd;
  --bs-success: #02b875;
  --bs-info: #17a2b8;
  --bs-warning: #f0ad4e;
  --bs-danger: #d9534f;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
}
body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-family-headings) !important;
  font-weight: 500 !important;
  line-height: 1.2 !important;
}
.h1,h1 {
  font-size: var(--font-size-1);
}
.h2,h2 {
  font-size: var(--font-size-2);
}
.h3,h3 {
  font-size: var(--font-size-3);
}
.h4,h4 {
  font-size: var(--font-size-4);
}
.h5,h5 {
  font-size: var(--font-size-5);
}
.h6,h6 {
  font-size: var(--font-size-6);
}
.p,
p {
  font-size: var(--font-size-body) !important;
  font-family: var(--font-family-body) !important;
  text-align: justify;
}
.a, 
a {
  color: inherit;
}


/* --------------------------------------------------------------------- */
/* Draftail Styles */
/* --------------------------------------------------------------------- */

.Draftail-Editor .DraftEditor-root {
  font-size: unset;
  line-height: 1.4;
}
.Draftail-Toolbar {
  background-color: var(--w-color-surface-menus) !important;
  color: var(--w-color-text-label-menus-default) !important;
  border-bottom: 1px solid var(--w-color-border-field-default) !important;
  /* float toolbar so always visible */
  position: sticky !important;
  top: calc(0.2rem + 50px) !important;
  z-index: 2 !important;
}
@media screen and (max-width: 800px) {
  .Draftail-Toolbar {
    /* double top height when top menu wraps at 800px */
    top: calc(0.2rem + 100px) !important;
  }
}
.Draftail-ToolbarGroup {
  /* allow toolbar button groups to wrap */
  display: contents !important;
}
.Draftail-ToolbarGroup.Draftail-ToolbarGroup--controls {
  /* force comment button inline */
  display: inline-block !important;
}
.Draftail-Editor .public-DraftEditor-content {
  /* prevent v-scroll loading unnecessarily */
  padding: 1rem 0.5rem;
}
.public-DraftStyleDefault-ltr {
  text-align: justify;
}
.Draftail-Editor .DraftEditor-root{
    font-family: var(--font-family-body);
}
.Draftail-ToolbarButton {
  padding: 0.1rem 0.2rem 0.2rem 0.3rem !important;
}
.Draftail-block--blockquote {
  border-inline-start: 0.5rem solid var(--bs-info) !important;
  border-radius: 0.25rem;
  background-color: var(--bs-light);
  color: var(--bs-dark) !important;
  font-style: normal;
  font-family: var(--font-family-headings);
  font-weight: 500;
  padding: 1rem 2rem !important;
}
.Draftail-block--header-two {
  font-size: var(--font-size-2) !important;
}
.Draftail-block--header-three {
  font-size: var(--font-size-3) !important;
}
.Draftail-block--header-four {
  font-size: var(--font-size-4) !important;
}
.Draftail-block--header-five {
  font-size: var(--font-size-5) !important;
}
.Draftail-block--header-six {
  font-size: var(--font-size-6) !important;
}
.Draftail-block--unstyled  {
  font-size: var(--font-size-body) !important;
  font-family: var(--font-family-body) !important;

}
/* --------------------------------------------------------------------- */
/* Admin Styles */
/* --------------------------------------------------------------------- */

.w-summary {
  --w-summary-item-font-size: 4rem;
  margin-bottom: .5rem;
  padding-top: 1rem;
}
.sidebar--slim .sidebar-custom-branding,
.sidebar__inner .sidebar-custom-branding {
  padding: 0;
  margin: 0.5em auto 0 auto;
}
.sidebar .icon--menuitem,
.sidebar-menu-item__link:before  {
  height: 1.2rem;
  margin: 0;
  min-width: 1rem;
  width: 1.2rem;
}
.panel.nice-padding.panel-upgrade-notification {
  display: none;
}
.panel.summary {
  margin-bottom: 0;
  padding-top: 0;
}
.listing td.title {
  padding: 0.5rem 1rem 0.1rem 1rem;
}
.listing td, .listing th {
  padding: 0.5rem 1rem 0.1rem 1rem;
}
.listing .title .title-wrapper {
  font-weight: 500;
  vertical-align: top;
}
.c-page-explorer__item__link h3 {
  font-size: var(--font-size-5);
  text-align: start;
}
.c-page-explorer__item__link {
  padding: 1rem 1.75rem;
}
.sidebar-sub-menu-panel > h2 {
  min-height: 0;
  padding-bottom: 1rem;
}
.sidebar-menu-item--in-sub-menu .sidebar-menu-item__link {
  padding: 0.4rem 0.7rem;
}
.field__label {
  text-align: start;
}
.field-content {
  width: 100%;
}
fieldset {
  padding: 0;
}
.tagit,
select {
  font-family: var(--font-family-body);
}
textarea {
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
  text-align: start;
  padding-bottom: 1rem;
  padding-top: 1rem;
  line-height: 1.4;
  resize:vertical !important;
}
.c-sf-container {
  padding: 0.3rem 0;
}
.c-sf-container .help {
  margin: 0;
}
label {
  padding-top: 0;
  font-family: var(--font-family-headings);
}
header {
  font-family: var(--font-family-headings);
}
header.w-header {
  margin-bottom: 1rem;
}
.title-wrapper {
  font-family: var(--font-family-headings) !important;
  font-weight: 500 !important;
}
.object>.title-wrapper:before {
  line-height: 1.3em !important;
}
.object>.title-wrapper {
  line-height: 1;
  padding: .6em 0 .9em 4em !important;
  font-size: 0.95em !important;
} 
.title input:not([type=submit]) {
    font-size: var(--font-size-4) !important;
    font-family: var(--font-family-headings) !important;
    font-weight: 500 !important;
    padding-inline-start: 0.8rem !important;
    padding-inline-end: 0.5rem !important;
    line-height: 1 !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}
.full input:not([type=submit]), .full textarea {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0.8rem 0;
}
@media screen and (min-width: 50em) {
  .object.full input:not([type=submit]), .object.full textarea {
    border-width: 1px !important;
  }
}
.help {
  font-size: 0.8em !important;
  text-align: left;
}
.object-help {
    line-height: 1.2;
    padding-left: 0.8rem;
    padding-bottom: 3rem;
}
.title .help {
    padding-top: 0.1rem;
}
.object-help .help {
  padding-left: 0 !important;
}
.object .object-help .icon-help {
    margin-inline-start: -1.9em;
    height: 1rem;
}
.page-explorer .listing .index .privacy-indicator {
  right: 0.8em;
}
nav.pagination>p {
  text-align: center;
}
.tab {
  white-space: pre;
}
.tab::after {
  content: "    ";
  white-space: pre;
}
/* stop modals switching to 66% width when side panel open */
.minimap-open .tab-content, .side-panel-open .tab-content {
  width: 100%;
}
/* remove excess space under field */
.w-panel--nested .w-field__wrapper {
  padding-bottom: 0;
}

/* streamfield pop-out block menu */
div[data-tippy-root] div.tippy-box {
  max-width: unset !important;
}
div.tippy-content div.w-combobox {
  width: 70vw;
}
div.w-combobox__field>input {
  display: none;
}
div.tippy-content div.w-combobox div.w-combobox__menu div.w-combobox__optgroup {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  grid-auto-flow: row
}
div.tippy-content div.w-combobox__option {
  grid-template-columns: unset;
  grid-column: unset;
  display: flex;
  align-items: stretch;
  height: 100%;
  break-inside: avoid-column;
  overflow-wrap: break-word;
  line-height: normal;  
}
div.tippy-content div.w-combobox__option div.w-combobox__option-text {
  margin-top: .2em;
}
div.tippy-content div.w-combobox__option div.w-combobox__option-icon .icon {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5em;
}


div.wordcount-banner {
  background-color: var(--w-color-surface-field-inactive);
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-bottom: -2em;
}

/* remove root level warning box */
form#page-reorder-form>div.nice-padding {
display: none;
}

/* input and select font size */
div.w-field__input>input,
div.w-field__input>select {
  font-size: 1em;
}

/* chooser layout */
div.chooser>div.chosen {
  flex-wrap: wrap;
  gap: 0.4rem;
}
div.chooser>div.chosen>div.chooser__title {
  order: 1;
  flex-basis: 100px;
  flex-grow: 1;
  font-size: 0.8em;
}
div.chooser>div.chosen>div.w-dropdown>button {
  padding: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  height: 1em;
  width: 1em;
}

/* struct block help text */
div.c-sf-help {
  flex-basis: 100%;
}
div.c-sf-help>div.help {
  margin-bottom: 0.5rem;
}

/* --------- Image Listing --------- */
form.image-search>div.w-field-row>div.w-field__wrapper {
  margin-bottom: 0.5rem;
}
ul.listing.horiz.images>li {
  padding: 0.5em;
  height: 100%;
}
ul.listing.horiz.images>li>input[type="checkbox"] {
  margin: 0em .5em -1.5em -0.2em;
}

/* --------------------------------------------------------------------- */
/* =============== All choosers =============== */
/* --------------------------------------------------------------------- */
/* move up screen */
div.modal-content:has(.w-header) {
  margin-top: 1rem;
}
/* reduce title bar height */
div.modal-content:has(.w-header) button.close.button {
  top: 0;
}
div.modal-content header.w-header>div.row {
  padding-top: 0.6rem;
}
/* --------------------------------------------------------------------- */
/* =============== Image Chooser =============== */
/* --------------------------------------------------------------------- */
/* search/upload tabs */
div.modal-content div.w-tabs__wrapper {
  margin-bottom: 1rem;
}
div.modal-content div.w-tabs__wrapper a.w-tabs__tab {
  line-height: 1;
}
/* search form layout */
div.modal-content form[action="/admin/images/chooser/results/"] ul.fields {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}
div.modal-content form[action="/admin/images/chooser/results/"] {
  border-bottom: 1px var(--w-color-border-furniture) solid;
  padding-bottom: 0;
}
div.modal-content form[action="/admin/images/chooser/results/"] ul.fields div.w-field__wrapper {
  margin-bottom: 1rem;
}
div.modal-content form[action="/admin/images/chooser/results/"] ul.fields>li:has(div[data-contentpath="q"]) {
  flex-grow: 1;
  flex-basis: 250px;
}
div.modal-content form[action="/admin/images/chooser/results/"] ul.fields>li.taglist {
  flex-basis: 100%;
  padding-bottom: 1rem;
}
div.modal-content form[action="/admin/images/chooser/results/"] ul.fields>li.taglist>h3 {
  font-family: var(--font-family-body);
  color: var(--w-color-text-label);
  display: inline;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 0;
  padding-inline-end: 2rem;
}
/* search results */
div.modal-content div.listing:has(ul.images)>h2 {
  display: none;
}
div.modal-content div.listing>ul.images>li {
  padding: 0.5em;
}

/* --------------------------------------------------------------------- */
/* Block Styles */
/* --------------------------------------------------------------------- */

/* common flex-box struct block styles */
div.flex-block {
  flex-wrap: wrap;
  display: flex;
  column-gap: 2rem;
}
div.flex-block>div[data-contentpath] {
  flex-grow: 1;
}

/* link block */
div.link-block>div[data-contentpath="internal_page"] {
  flex-basis: calc(30% - 2rem);
}
div.link-block>div[data-contentpath="url_link"] {
  flex-basis: calc(70% - 2rem);
}
div.link-block>div[data-contentpath="button_text"] {
  flex-basis: calc(28% - 2rem);
}
div.link-block>div[data-contentpath="appearance"] {
  flex-basis: calc(20% - 2rem);
}
div.link-block>div[data-contentpath="appearance"] select {
  width: 200px;
  font-size: 0.9em;
}
div.link-block>div[data-contentpath="placement"],
div.link-block>div[data-contentpath="size"] {
  flex-basis: calc(10% - 2rem);
}
div.link-block>div[data-contentpath="placement"] select,
div.link-block>div[data-contentpath="size"] select {
  width: 120px;
}

/* callout block */
div.callout-heading-block>div[data-contentpath="icon"] {
  flex-basis: 11rem;
}
div.callout-heading-block>div[data-contentpath="text"] {
  flex-basis: calc(100% - 13rem);
}

/* seo image chooser block */
div.seo-image-chooser-block>div[data-contentpath="file"] {
  flex-basis: calc(30% - 2rem);
}
div.seo-image-chooser-block>div[data-contentpath="seo_title"] {
  flex-basis: calc(70% - 2rem);
}

/* simple image text block */
div.flex-card-block>div[data-contentpath="breakpoint"],
div.flex-card-block>div[data-contentpath="background"],
div.flex-card-block>div[data-contentpath="border"] {
  flex-grow: 0;
}
div.flex-card-block>div[data-contentpath="image_min"],
div.flex-card-block>div[data-contentpath="image_max"] {
  flex-basis: calc(50% - 2rem);
}

/* collapsible card block */
div.collapsible-card-block>div[data-contentpath="header_colour"],
div.collapsible-card-block>div[data-contentpath="body_colour"] {
  flex-grow: 0;
}
div.collapsible-card-block>div[data-contentpath="cards"] {
  flex-basis: 100%;
}

/* image block */
div.image-block>div[data-contentpath="image"] {
  flex-basis: 100%;
}
div.image-block>div[data-contentpath="caption"],
div.image-block>div[data-contentpath="attribution"] {
  flex-basis: calc(50% - 2rem);
}
div.image-block>div[data-contentpath="background"],
div.image-block>div[data-contentpath="animated_gif"] {
  flex-grow: 0;
}

/* heading block */
div.heading-block>div[data-contentpath="title"] {
  flex-basis: 100%;
}
div.heading-block>div[data-contentpath="heading_size"] {
  flex-basis: 5.625rem;
}
div.heading-block>div[data-contentpath="alignment"] {
  flex-basis: 8.75rem;
}
div.heading-block>div[data-contentpath="heading_size"] button.w-field__comment-button,
div.heading-block>div[data-contentpath="alignment"] button.w-field__comment-button {
  inset-inline-end: -1.5rem;
}
div.heading-block>div[data-contentpath="bookmark"] {
  flex-basis: calc(100% - 20rem);
}

/* simple card block */
div.simple-card-block>div[data-contentpath="background"],
div.simple-card-block>div[data-contentpath="border"] {
  flex-grow: 0;
}

/* card grid block */
div.card-grid-block>div[data-contentpath="format"] {
  flex-grow: 0;
}
div.card-grid-block>div[data-contentpath="min_col"],
div.card-grid-block>div[data-contentpath="max_col"] {
  flex-basis: 30%;
}
div.card-grid-block>div[data-contentpath="cards"] {
  flex-basis: 100%;
}

/* map & waypoint blocks */
div.map-waypoint-block>div[data-contentpath="gps_coord"] {
  flex-basis: 100%;
}
div.map-waypoint-block>div[data-contentpath="show_pin"] {
  flex-grow: 0;
}
div.map-block>div[data-contentpath="route_type"],
div.map-block>div[data-contentpath="show_route_info"] {
  flex-grow: 0;
}
div.map-block>div[data-contentpath="route_type"] select {
  font-size: 0.9em;
}
div.map-block>div[data-contentpath="height"] {
  flex-basis: calc(100% - 31rem);
}
div.map-block>div[data-contentpath="padding_top"],
div.map-block>div[data-contentpath="padding_right"],
div.map-block>div[data-contentpath="padding_bottom"],
div.map-block>div[data-contentpath="padding_left"] {
  flex-basis: calc(25% - 6rem);
  min-width: 120px;
}

/* csv table block */
div.csv-table-block>div[data-contentpath="data"],
div.csv-table-block>div[data-contentpath="caption"] {
  flex-basis: 100%;
}
div.csv-table-block>div[data-contentpath="column_headers"],
div.csv-table-block>div[data-contentpath="row_headers"],
div.csv-table-block>div[data-contentpath="compact"],
div.csv-table-block>div[data-contentpath="caption_alignment"] {
  flex-grow: 0;
}

/* document block */
div.document-block>div[data-contentpath="text_size"],
div.document-block>div[data-contentpath="appearance"],
div.document-block>div[data-contentpath="outline"],
div.document-block>div[data-contentpath="full_width"],
div.document-block>div[data-contentpath="alignment"],
div.document-block>div[data-contentpath="allow_indexing"] {
  flex-grow: 0;
}
div.document-block>div[data-contentpath="document"] {
  flex-basis: 100%;
}


/* two column block */
div.two-column-block>div[data-contentpath="column_layout"],
div.two-column-block>div[data-contentpath="breakpoint"] {
  flex-basis: calc(50% - 2rem);
}
div.two-column-block>div[data-contentpath="left_min"],
div.two-column-block>div[data-contentpath="left_max"],
div.two-column-block>div[data-contentpath="right_min"],
div.two-column-block>div[data-contentpath="right_max"] {
  flex-basis: calc(25% - 3rem);
}
div.two-column-block>div[data-contentpath="horizontal_padding"] {
  flex-basis: 140px;
}
div.two-column-block>div[data-contentpath="vertical_border"] {
    flex-basis: 100px;
}
div.two-column-block>div[data-contentpath="order"],
div.two-column-block>div[data-contentpath="hide"] {
  flex-basis: 20%;
}
div.two-column-block>div[data-contentpath="left_column"],
div.two-column-block>div[data-contentpath="right_column"] {
  flex-basis: 100%;
  margin-bottom: 0.5rem;
}
div.two-column-block select {
  width: -webkit-fill-available;
}

/* three column block */
div.three-column-block>div[data-contentpath="column_layout"],
div.three-column-block>div[data-contentpath="breakpoint"] {
  flex-basis: calc(50% - 2rem);
}
div.three-column-block>div[data-contentpath="outer_min"],
div.three-column-block>div[data-contentpath="outer_max"] {
  flex-basis: calc(17% - 2rem);
}
div.three-column-block>div[data-contentpath="horizontal_padding"] {
  flex-basis: 110px;
}div.three-column-block>div[data-contentpath="vertical_border"] {
  flex-basis: 60px;
}
div.three-column-block>div[data-contentpath="hide"] {
flex-basis: 20%;
}
div.three-column-block>div[data-contentpath="left_column"],
div.three-column-block>div[data-contentpath="centre_column"],
div.three-column-block>div[data-contentpath="right_column"] {
  flex-basis: 100%;
  margin-bottom: 0.5rem;
}
div.three-column-block select {
  width: -webkit-fill-available;
}


