:root {
  --font-family-headings: "Quicksand", sans-serif;
  --font-family-body: "Work Sans", sans-serif;
  --font-family-monospace: "Ubuntu Mono", "Courier New", monospace;
  --font-size-1: clamp( 2rem, 1.7993rem + 0.8451vw, 2.75rem );
  --font-size-2: clamp( 1.8rem, 1.6394rem + 0.6761vw, 2.4rem );
  --font-size-3: clamp( 1.55rem, 1.4162rem + 0.5634vw, 2.05rem );
  --font-size-4: clamp( 1.35rem, 1.2563rem + 0.3944vw, 1.7rem );
  --font-size-5: clamp( 1.1rem, 1.0331rem + 0.2817vw, 1.35rem );
  --font-size-6: clamp( 0.9rem, 0.8732rem + 0.1127vw, 1rem );
  --font-size-body: clamp( 1rem, 0.9599rem + 0.169vw, 1.15rem );
}
body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.5;
  text-align: start;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-family-headings);
  margin-bottom: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
}
.h1,h1 {
  font-size: var(--font-size-1);
}
.h2,h2 {
  font-size: var(--font-size-2);
}
.h3,h3 {
  font-size: var(--font-size-3);
}
.h4,h4 {
  font-size: var(--font-size-4);
}
.h5,h5 {
  font-size: var(--font-size-5);
}
.h6,h6 {
  font-size: var(--font-size-6);
}
.p,p {
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
}

/* --------------------------------------------------------------------- */
/* Draftail Styles */
/* --------------------------------------------------------------------- */

.Draftail-Editor .DraftEditor-root {
  font-size: unset;
  line-height: 1.4;
}
.Draftail-Toolbar {
  /* float toolbar so always visible */
  position: sticky !important;
  top: calc(0.2rem + 50px) !important;
  z-index: 2 !important;
}
@media screen and (max-width: 800px) {
  .Draftail-Toolbar {
    /* double top height when top menu wraps at 800px */
    top: calc(0.2rem + 100px) !important;
  }
}
.Draftail-ToolbarGroup {
  /* allow toolbar button groups to wrap */
  display: contents;
}
.Draftail-Editor .public-DraftEditor-content {
  /* prevent v-scroll loading unnecessarily */
  padding: 1rem 0.5rem;
}
.public-DraftStyleDefault-ltr {
  text-align: justify;
}
.Draftail-Editor .DraftEditor-root{
    font-family: var(--font-family-body);
}
.Draftail-ToolbarButton {
  padding: 0.1rem 0.2rem 0.2rem 0.3rem !important;
}
/* Custom draftail styles */
.Draftail-block--blockquote {
  border-left-width: 0.3rem;
  border-left-style: solid;
  border-color: var(--bs-info);
  background-color: var(--bs-light);
  font-style: normal;
  font-family: var(--font-family-headings);
  font-weight: 500;
  padding: 1rem;
}
.Draftail-block--left-align .public-DraftStyleDefault-ltr {
  text-align: start;
}
.Draftail-block--centre-align .public-DraftStyleDefault-ltr {
  text-align: center;
}
.Draftail-block--right-align .public-DraftStyleDefault-ltr {
  text-align: end;
}

/* --------------------------------------------------------------------- */
/* Admin Styles */
/* --------------------------------------------------------------------- */

.sidebar--slim .sidebar-custom-branding,
.sidebar__inner .sidebar-custom-branding {
  padding: 10px 0;
  margin: 0 auto;
}
.panel.nice-padding.panel-upgrade-notification {
  display: none;
}
.panel.summary {
  margin-bottom: 0;
  padding-top: 0;
}
.listing .title {
  padding-bottom: 0;
  padding-top: 0.7rem;
}
.listing td, .listing th {
  padding: 0.5rem 1rem 0.1rem 1rem;
}
.listing .title .title-wrapper {
  font-weight: 500;
}
.c-page-explorer__item__link h3 {
  font-size: var(--font-size-5);
  text-align: start;
}
.c-page-explorer__item__link {
  padding: 1rem 1.75rem;
}
.sidebar-sub-menu-panel > h2 {
  min-height: 0;
  padding-bottom: 1rem;
}
.sidebar-menu-item--in-sub-menu .sidebar-menu-item__link {
  padding: 0.4rem 0.7rem;
}
.field__label {
  text-align: start;
}
.tagit,
select {
  font-size: var(--font-size-5);
  font-family: var(--font-family-body);
  text-align: start;
  padding-bottom: 1rem;
  padding-top: 1rem;
  line-height: 1.4;
}
textarea {
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
  text-align: start;
  padding-bottom: 1rem;
  padding-top: 1rem;
  line-height: 1.4;
  resize:vertical !important;
}
.c-sf-container {
  padding: 0.3rem 0;
}
.c-sf-container .help {
  margin: 0;
}
label {
  padding-top: 0;
  font-family: var(--font-family-headings);
}
header {
  font-family: var(--font-family-headings);
}
.object>.title-wrapper label {
  font-family: var(--font-family-headings);
  font-weight: 500;
}
.title input:not([type=submit]) {
    font-size: var(--font-size-1);
    font-family: var(--font-family-headings);
    font-weight: 500;
}
.full input:not([type=submit]), .full textarea {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0.8rem 0;
}
@media screen and (min-width: 50em) {
  .object.full input:not([type=submit]), .object.full textarea {
    border-width: 1px;
  }
}
.object-help {
    line-height: 1.2;
    padding-left: 0.8rem;
    padding-bottom: 3rem;
}
.title .help {
    padding-top: 0.1rem;
}
.object-help.help {
  padding-left: 0 !important;
}
.object .object-help .icon-help {
    margin-inline-start: -1.9em;
    height: 1rem;
}
@media screen and (min-width: 800px) {
  .object .fields .multiple {
    width: auto;
  }
}
@media screen and (max-width: 800px) {
  .multiple>li {
    border: 0;
    border-bottom: 1px solid #ededed;
  }
}
