/* Built-in style overrides */
.Draftail-Editor .DraftEditor-root {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
}

div.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr {
    text-align: justify;
}

/* Custom draftail styles */
p.Draftail-block--left-align>div.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr {
    text-align: left;
}

p.Draftail-block--centre-align>div.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr {
    text-align: center;
}

p.Draftail-block--right-align>div.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr {
    text-align: right;
}

.Draftail-block--CODE-BLOCK {
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-6) !important;
    text-align: left !important;
    margin-left: 0 !important;
    color: #f8f8f2;
    background-color: #272822;
    padding: 0.5em 1.2em;
    line-height: 1.2;
}

li.Draftail-block--checklist {
    margin-left: 0 !important;
}

li.Draftail-block--checklist>div.public-DraftStyleDefault-block::before {
    content: '🗹';
    padding-right: 1em;
    margin-left: -2em;
}

li.Draftail-block--checklist>div.public-DraftStyleDefault-block {
    padding-left: 2em;
}