/* Custom draftail styles */
.Draftail-block--left-align .public-DraftStyleDefault-ltr {
    text-align: start;
}
.Draftail-block--centre-align .public-DraftStyleDefault-ltr {
    text-align: center;
}
.Draftail-block--right-align .public-DraftStyleDefault-ltr {
    text-align: end;
}
.Draftail-block--CODE-BLOCK {
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-6);
    text-align: left !important;
    color: #f8f8f2;
    background-color: #272822;
    padding: 0.06rem 0.3rem;
    text-align: left;
    padding-left: 1rem;
}