:root {
  --font-family-headings: "Quicksand", sans-serif;
  --font-family-body: "Work Sans", sans-serif;
  --font-family-monospace: "Roboto Mono", "Courier New", monospace;
  --font-size-1: clamp(2rem, 1.7993rem + 0.8451vw, 2.75rem);
  --font-size-2: clamp(1.8rem, 1.6261rem + 0.7324vw, 2.45rem);
  --font-size-3: clamp(1.6rem, 1.4662rem + 0.5634vw, 2.1rem);
  --font-size-4: clamp(1.4rem, 1.293rem + 0.4507vw, 1.8rem);
  --font-size-5: clamp(1.2rem, 1.1331rem + 0.2817vw, 1.45rem);
  --font-size-6: clamp(0.9rem, 0.8732rem + 0.1127vw, 1rem);
  --font-size-body: clamp(1rem, 0.9599rem + 0.169vw, 1.15rem);
}

/* ======= Scrolling ======= */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

/* ======= Scroll Bar ======= */
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 14px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px grey;
  border-radius: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adb5bd;
}
/* ======= End Scroll Bar ======= */

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  margin-bottom: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
}
.h1,
h1 {
  font-size: var(--font-size-1);
}
.h2,
h2 {
  font-size: var(--font-size-2);
  padding: 0.35rem 0;
}
.h3,
h3 {
  font-size: var(--font-size-3);
  padding: 0.25rem 0;
}
.h4,
h4 {
  font-size: var(--font-size-4);
  padding: 0.15rem 0;
}
.h5,
h5 {
  font-size: var(--font-size-5);
  padding: 0.125rem 0 !important;
}
.h6,
h6 {
  font-size: var(--font-size-6);
  padding: 0.1rem 0 !important;
}
.p,
p {
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
}
.a,
a {
  color: inherit;
}
.toc {
  font-family: var(--font-family-headings);
  text-align: left;
}
.toc a {
  text-decoration: none;
}
.toc-title {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-2);
  margin-bottom: 0;
}
.toc-list {
  padding-bottom: 1rem;
  padding-left: 10px;
}
.toc-item-l1 {
  font-size: clamp( 1.35rem, 1.3232rem + 0.1127vw, 1.45rem );
  text-indent: 0rem;
  margin-bottom: 0;
}
.toc-item-l2::before {
  content: '•';
  padding-right: 0.5em;
}
.toc-item-l2 {
  font-size: clamp( 1.25rem, 1.2232rem + 0.1127vw, 1.35rem );
  text-indent: -0.75rem;
  padding-left: 1.8rem;
  margin-bottom: 0;
}
.toc-item-l3::before {
  content: '◦';
  padding-right: 0.5em;
}
.toc-item-l3 {
  text-indent: -0.75rem;
  padding-left: 3rem;
  font-size: clamp( 1.15rem, 1.1099rem + 0.169vw, 1.3rem );
  margin-bottom: 0;
  padding-top: 0.15rem;
}
.toc-item-l4::before {
  content: '▪';
  padding-right: 0.5em;
}
.toc-item-l4 {
  text-indent: -0.65rem;
  padding-left: 4.2rem;
  font-size: clamp( 1.05rem, 1.0099rem + 0.169vw, 1.2rem );
  margin-bottom: 0;
  padding-top: 0.125rem;
}
.toc-item-l5::before {
  content: '⁃';
  padding-right: 0.5em;
}
.toc-item-l5 {
  text-indent: -0.5rem;
  padding-left: 5.4rem;
  font-size: clamp( 1rem, 0.9732rem + 0.1127vw, 1.1rem );
  margin-bottom: 0;
  padding-top: 0.1rem;
}
.text-white a {
  font-weight: bolder;
  color: inherit;
}
.text-light a {
  font-weight: bolder;
  color: inherit;
}
.btn,
.link-button {
  border-radius: 0.5em;
}
.btn-lg,
.btn-group-lg {
  border-radius: 0.8em;
}
.btn-sm,
.btn-group-sm {
  border-radius: 0.5em;
}
.full-width {
  width: 100% !important;
}
.accordion-button {
  font-size: var(--font-size-3);
  font-weight: 500;
}
.banner-overlay-container {
  position: relative;
}
.banner-overlay-text-block {
  position: absolute;
  bottom: 0px;
  left: 00px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  color: white;
  padding-top: 10px !important;
  padding-bottom: clamp(0.25rem, 0.1250rem + 0.5000vw, 0.5rem);
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  object-fit: cover;
  text-align: left;
}
.banner-headline {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-2);
  font-weight: 500;
  line-height: 1.0;
  color: #fff;
}
.banner-subheading {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-5);
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
}
.divider, .divider-sm, .divider-md, .divider-lg {
  border-right: 1px solid #DADADA;
  padding: 0px;
  width: 0px;
}
@media (max-width: 575px) {
  .divider-sm {
    display: none;
  }
}
@media (max-width: 767px) {
  .divider-md {
    display: none;
  }
}
@media (max-width: 991px) {
  .divider-lg {
    display: none;
  }
}
.three-col-divider, .three-col-divider-sm, .three-col-divider-md, .three-col-divider-lg {
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}
@media (max-width: 575px) {
  .three-col-divider-sm {
    border-left: 0px;
    border-right: 0px;
  }
}
@media (max-width: 767px) {
  .three-col-divider-md {
    border-left: 0px;
    border-right: 0px;
  }
}
@media (max-width: 991px) {
  .three-col-divider-lg {
    border-left: 0px;
    border-right: 0px;
  }
}
@media (min-width: 768px) {
  .contact-intro {
    max-width: 25rem;
  }
}
.comments-header {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-5);
  color: var(--bs-white) !important;
  padding: 0.6rem 0.8rem;
}
.comments-image-thumbnail {
  float: left;
  width: 60px;
  height: 60px;
  max-width: 100%;
  margin-right: 8px;
  margin-bottom: 8px;
}
.category-link {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-5);
  font-weight: 500;
  line-height: 0.8;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 0px;
}
.category-link.active {
  font-family: var(--font-family-headings);
  color: antiquewhite !important;
  font-weight: bolder;
}
.category-link:hover {
  color: var(--bs-white) !important;
}
.tag-link {
  font-family: var(--font-family-headings);
  color: rgba(255, 255, 255, 0.9);
  padding: 0px;
}
.tag-link.active {
  color: antiquewhite !important;
  font-weight: bolder;
}
.tag-link:hover {
  color: var(--bs-white) !important;
}
.filter-message {
  font-family: var(--font-family-headings);
  color: var(--bs-info);
  font-weight: 500;
  text-align: center;
}
.nav-link {
  font-family: var(--font-family-headings);
  font-size: clamp( 1.05rem, 0.7441rem + 0.6275vw, 1.45rem );
  font-weight: 500;
}
.nav-link.active {
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 7px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar.bg-dark {
  background-color: rgb(2, 184, 117, 0.8) !important;
}
.footer-nav-link {
  font-family: var(--font-family-headings);
  font-size: clamp( 1.05rem, 0.7441rem + 0.6275vw, 1.45rem );
  font-weight: 500;
  color: var(--bs-white) !important;
  text-decoration: none;
  padding: 0em 1em;
}
.dropdown-item {
  font-family: var(--font-family-headings);
}
.dropdown-label {
  font-family: var(--font-family-headings);
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.footer-nav-link.active {
  color: var(--bs-white) !important;
}
.dropright {
  position: relative;
  margin-left: 10px;
}

.dropright .btn-dark-outline {
  background-color: transparent;
}

.dropright .btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.dropright .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
.h-submenu {
  text-decoration: none;
  font-family: var(--font-family-headings) !important;
  text-align: left;
  font-size: 0.9625rem;
  font-weight: 400;
  padding-left: 1.5mm;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 0px;
}
.h-submenu:hover {
  color: #1e2125;
  background-color: #e9ecef;
}
.nav-item {
  padding: 0rem 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  font-size: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
  font-weight: 500;
}
.search-menu {
  padding: 0 1em;
  min-width: 30rem;
  background-color: --bs-light;
}
.privacy-notice {
  font-size: var(--font-size-6);
  font-family: var(--font-family-headings);
  font-weight: 400;
  line-height: 1.2;
  color: black;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.switcher-item {
  padding: 0.4rem 1.5rem;
  text-decoration: none;
  min-width: 6rem;
}
.switcher-menu {
  min-width: 8rem;
}
.privacy-notice {
  font-size: var(--font-size-body);
  line-height: 120%;
}
.table_nopadding > tfoot > tr > td {
  padding: 0px;
  margin: 0px;
}
.responsive-object {
  position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.profile-image-thumbnail {
  float: left;
  width: 40px;
  height: 40px;
  max-width: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
}

.profile-menu-image {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  max-width: 100%;
  border-radius: 5px;
}

.enzed-blockquote {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-3);
  font-weight: 500;
  line-height: 1.2;
  text-align: start;
  padding: 1.2rem;
  border-radius: 0.5rem;
}
.enzed-blockquote .attribution {
  padding-top: 0.3rem;
  text-align: end;
  font-weight: lighter;
  font-size: var(--font-size-5);
}
.enzed-blockquote-marks {
  font-family: var(--font-family-body);
  font-size: var(--font-size-1);
  font-weight: 600;
  line-height: 1;
  padding: 0px;
  margin: 0px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23343a40'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.form-group {
  margin-bottom: 1rem;
}
.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.form-text {
  font-size: var(--font-size-body);
}
.form-control {
  font-size: var(--font-size-body);
}
.form-control-sm {
  font-size: var(--font-size-6);
}
.form-select {
  font-size: var(--font-size-body);
}
.form-select-sm {
  font-size: var(--font-size-6);
}
.input-group-text {
  font-size: var(--font-size-5);
}
.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.input-group-sm > .btn {
  font-size: var(--font-size-6);
}
.valid-feedback {
  font-size: var(--font-size-6);
}
.invalid-feedback {
  font-size: var(--font-size-6);
}

.bg-black {
  background-color: rgb(0, 0, 0) !important;
  color: white;
}
.bg-transparent,
.bg-light {
  color: black;
}
.bg-primary,
.bg-secondary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-dark {
  color: white;
}
.blog-summary {
  line-height: 1.3;
  color: var(--bs-gray-dark);
  font-size: clamp(0.9rem, 0.8599rem + 0.169vw, 1.05rem);
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  padding: 1em 0;
  margin-bottom: 0.5em;
}
.blog-date{
  color: var(--bs-gray);
  text-align: center;
  font-size: smaller;
}
.fa-icon{
  display: none;
}
.avatar {
  border-radius: 8px;
}
.image-block-caption {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-6);
  font-weight: 400;
}
.carousel-caption {
  padding: 0.6rem 1rem;
  max-width: 100%;
  width: 100%;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  left: 0;
  bottom: 0;
  color: #ffffff;
  filter: alpha(opacity=40);
}
.carousel-title {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-3);
  color: white;
  line-height: 1.2;
  background-color: #343a40 !important;
  padding: 0.8rem;
  font-weight: 600;
}
.carousel-caption-title {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-4);
  text-align: end;
  line-height: 1.2;
}
.carousel-caption-caption {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  text-align: end;
  line-height: 1.2;
}
.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out 0.7s;
}
.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}
.rich-text img {
  max-width: 100%;
  height: auto;
}
.table-caption {
  padding-top: 1rem;
  font-size: var(--font-size-body);
  color: var(--bs-secondary);
}
.social-login-icon {
  border-radius: 10px;
  width: 30px;
  height: 30px;
  max-width: 100%;
  margin-right: 0.3rem;
}
.social-login-link {
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-row {
  padding: 0.25rem 1rem;
}
.block-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
blockquote,
.blockquote {
  border-inline-start: 0.5rem solid var(--bs-info);
  border-radius: 0.25rem;
  background-color: var(--bs-light);
  font-style: normal;
  font-family: var(--font-family-headings);
  font-weight: 500;
  padding: 1.2rem 2rem;
  margin: 1.6rem 0;
}
.map-block {
  position: relative;
  top: 0px;
  right: 0px;
  width: 100%;
}

/* =========================================== */
table,
.table {
  font-size: var(--font-size-body);
  text-align: left;
}
code, .inline-code {
  font-size: var(--font-size-6);
  font-family: var(--font-family-monospace);
  color: darkslateblue;
  background-color: beige;
  padding: 0 .3em 0.01em .3em;
  border-radius: 0.3rem;
}
.bg-info .inline-code {
  color: floralwhite;
  background-color: #272822f0;
}
.code-block {
  font-size: var(--font-size-6);
  font-family: var(--font-family-monospace);
  color: floralwhite;
  background-color: #272822;
  padding: 0 1em;
  text-align: left !important;
  line-height: 1.4;
}
.code-block-wrapper {
  background-color: #272822;
  padding: 0.7em 0;
  margin-bottom: 0.7em;
  border-radius: 0.4em;
}
label {
  font-family: var(--font-family-headings);
  font-weight: 500;
}
code[class*="language-"],
pre[class*="language-"] {
  line-height: 1.3 !important;
}

/* Allow Mathjax equation to have custom alignment and set font size to inherit */
mjx-container[jax="CHTML"], mjx-container[jax="CHTML"][display="true"] {
  text-align: inherit !important;
  font-size: inherit !important;
}
