  .avatar {
    border-radius: 8px;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
  
  a:hover {
    color: #adb5bd;
  }
  
  .nav-link {
    color: #fff;
  }
  .nav-link:hover, .nav-link:focus {
    color: #adb5bd;
  }

  .form-group {
    margin-bottom: 1rem;
  }
  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  .form-row > .col,
  .form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
