@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

:root {
  --font-family-headings: "Quicksand", sans-serif;
  --font-family-body: "Work Sans", sans-serif;
  --font-family-monospace: "Ubuntu Mono", "Courier New", monospace;
  --font-size-1: clamp(1.7578125rem, 1.3097rem + 1.3787vw, 2.34375rem);
  --font-size-2: clamp(1.40625rem, 1.0478rem + 1.1029vw, 1.875rem);
  --font-size-3: clamp(1.23046875rem, 0.9168rem + 0.9651vw, 1.640625rem);
  --font-size-4: clamp(1.125rem, 0.9099rem + 0.6618vw, 1.40625rem);
  --font-size-5: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem);
  --font-size-6: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
  --font-size-body: clamp(0.9rem, 0.8235rem + 0.2353vw, 1rem);
}
:target::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
}
body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  margin-bottom: 0.8rem;
  font-weight: 400;
  line-height: 1.2;
}
.h1,
h1 {
  font-size: var(--font-size-1);
}
.h2,
h2 {
  font-size: var(--font-size-2);
}
.h3,
h3 {
  font-size: var(--font-size-3);
}
.h4,
h4 {
  font-size: var(--font-size-4);
}
.h5,
h5 {
  font-size: var(--font-size-5);
}
.h6,
h6 {
  font-size: var(--font-size-6);
}
.p,
p {
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
}
a {
  color: #4582ec;
  text-decoration: none;
}
.btn,
.link-button {
  border-radius: 0.5em;
}
.btn-lg,
.btn-group-lg {
  border-radius: 0.8em;
}
.btn-sm,
.btn-group-sm {
  border-radius: 0.5em;
}
.accordion-button {
  font-size: var(--font-size-3);
  font-weight: 500;
}
.banner-headline {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-2);
  font-weight: 500;
  color: #fff;
}
.banner-subheading {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-5);
  font-weight: 500;
  color: #fff;
}
.comments-header {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-5);
  color: var(--bs-white) !important;
  padding: 0.6rem 0.8rem;
}
.category-link {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-5);
  color: rgba(255, 255, 255, 0.9);
  padding: 0px;
}
.category-link.active {
  font-family: var(--font-family-headings);
  color: var(--bs-white) !important;
  font-weight: 600;
}
.category-link:hover {
  color: var(--bs-white) !important;
}
.tag-link {
  font-family: var(--font-family-headings);
  color: rgba(255, 255, 255, 0.9);
  padding: 0px;
}
.tag-link.active {
  color: var(--bs-white) !important;
  font-weight: 600;
}
.tag-link:hover {
  color: var(--bs-white) !important;
}
.nav-link {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-5);
  font-weight: 400;
}
.nav-link.active {
  font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
}
.navbar.bg-dark {
  background-color: rgb(2, 184, 117, 0.8) !important;
}
.footer-nav-link {
  font-family: var(--font-family-headings);
  font-weight: 400;
  color: var(--bs-white) !important;
  padding: 0em 1em;
}
.footer-nav-link.active {
  color: var(--bs-white) !important;
}
.privacy-notice {
  font-size: var(--font-size-6);
  font-family: var(--font-family-headings);
  font-weight: 400;
  line-height: 1.2;
  color: black;
}
.rich-text img {
  max-width: 100%;
  height: auto;
}
.responsive-object {
  position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.switcher-item {
  padding: 0.4rem 1.5rem;
  text-decoration: none;
  min-width: 6rem;
}
.switcher-menu {
  min-width: 8rem;
}
.privacy-notice {
  font-size: var(--font-size-body);
  line-height: 120%;
}
.table_nopadding > tfoot > tr > td {
  padding: 0px;
  margin: 0px;
}
.banner-overlay-container {
  position: relative;
}
.banner-overlay-text-block {
  position: absolute;
  bottom: 0px;
  left: 00px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  object-fit: cover;
  text-align: left;
}

.profile-image-thumbnail {
  float: left;
  width: 40px;
  height: 40px;
  max-width: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
}

.profile-menu-image {
  float: left;
  width: 30px;
  height: 30px;
  max-width: 100%;
  border-radius: 5px;
}

.enzed-blockquote {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-3);
  font-weight: 500;
  line-height: 1;
}
.enzed-blockquote-marks {
  font-family: var(--font-family-body);
  font-size: var(--font-size-1);
  font-weight: 600;
  line-height: 1;
  padding: 0px;
  margin: 0px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23343a40'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.form-group {
  margin-bottom: 1rem;
}
.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.form-text {
  font-size: var(--font-size-body);
}
.form-control {
  font-size: var(--font-size-body);
}
.form-control-sm {
  font-size: var(--font-size-6);
}
.form-select {
  font-size: var(--font-size-body);
}
.form-select-sm {
  font-size: var(--font-size-6);
}
.input-group-text {
  font-size: var(--font-size-5);
}
.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.input-group-sm > .btn {
  font-size: var(--font-size-6);
}
.valid-feedback {
  font-size: var(--font-size-6);
}
.invalid-feedback {
  font-size: var(--font-size-6);
}

.bg-black {
  background-color: rgb(0, 0, 0) !important;
}
.blog-summary {
  line-height: 1.2;
  color: #868e96 !important;
}
.avatar {
  border-radius: 8px;
}
.image-block-caption {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-5);
}
.carousel-caption {
  padding: 0.6rem 1rem;
  max-width: 100%;
  width: 100%;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  left: 0;
  bottom: 0;
  color: #ffffff;
  filter: alpha(opacity=40);
}
.carousel-title {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-3);
  color: white;
  line-height: 1.2;
  background-color: #343a40 !important;
  padding: 0.8rem;
  font-weight: 600;
}
.carousel-caption-title {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-4);
  text-align: end;
  line-height: 1.2;
}
.carousel-caption-caption {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  text-align: end;
  line-height: 1.2;
}
.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out 0.7s;
}
.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}

.social-login-icon {
  border-radius: 8px;
  width: 30px;
  height: 30px;
  max-width: 100%;
  margin-right: 0.3rem;
}
.social-login-link {
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.block-container {
  margin-bottom: 2rem;
}
code {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-body);
  background-color: var(--bs-light);
  padding: 2px 5px;
}
label {
  font-family: var(--font-family-headings);
  font-weight: 500;
}