/* @import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap); */
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap);

:root {
  --font-family-sans-serif: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
:target::before {
  content: '';
  display: block;
  height:      80px;
  margin-top: -80px;
}
body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}
.h1,
h1 {
  font-size: clamp(1.7578125rem, 1.3097rem + 1.3787vw, 2.34375rem);
}
.h2,
h2 {
  font-size: clamp(1.40625rem, 1.0478rem + 1.1029vw, 1.875rem);
}
.h3,
h3 {
  font-size: clamp(1.23046875rem, 0.9168rem + 0.9651vw, 1.640625rem);
}
.h4,
h4 {
  font-size: clamp(1.125rem, 0.9099rem + 0.6618vw, 1.40625rem);
}
.h5,
h5 {
  font-size: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem);
}
.h6,
h6 {
  font-size: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
}
.p,
p {
  font-size: clamp(0.9rem, 0.8235rem + 0.2353vw, 1rem);
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";  
}
a {
  color: #4582ec;
  text-decoration: none;
}
.btn {
  border-radius: 0.5em;
}
.banner-headline {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(1.40625rem, 1.0478rem + 1.1029vw, 1.875rem);
  font-weight: 500;
  color: #fff;
}
.banner-subheading {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem);
  font-weight: 500;
  color: #fff;
}
.comments-header {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem);
  color: var(--bs-white) !important;
  padding: 0.6rem 0.8rem;
}
.category-link {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem);
  color: rgba(255, 255, 255, 0.9);
  padding: 0px;
}
.category-link.active{
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--bs-white) !important;
  font-weight: 600;
}
.category-link:hover {
  color: var(--bs-white) !important;
}
.tag-link {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-size: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem); */
  color: rgba(255, 255, 255, 0.9);
  padding: 0px;
}
.tag-link.active{
  color: var(--bs-white) !important;
  font-weight: 600;
}
.tag-link:hover {
  color: var(--bs-white) !important;
}
.nav-link {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem);
  font-weight: 400;
}
.nav-link.active {
  font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
}
.navbar.bg-dark {
  background-color: rgb(2, 184, 117, 0.8) !important;
}
.footer-nav-link {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: var(--bs-white) !important;
  padding: 0em 1em;
}
.footer-nav-link.active{
  color: var(--bs-white) !important;
}
.privacy-notice {
  font-size: 0.8em;
  line-height: 120%;
}
.rich-text img {
  max-width: 100%;
  height: auto;
}
.responsive-object {
  position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.switcher-item {
  padding: 0.4rem 1.5rem;
  text-decoration: none;
  min-width: 6rem;
}
.switcher-menu {
  min-width: 8rem;
}
.privacy-notice {
  font-size: 0.8em;
  line-height: 120%;
}
.table_nopadding>tfoot>tr>td{ padding: 0px; margin: 0px;}
.banner-overlay-container {
  position: relative;
}
.banner-overlay-text-block {
  position: absolute;
  bottom: 0px;
  left: 00px;
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  object-fit: cover;
  text-align: left;
}
.rich-text img {
  max-width: 100%;
  height: auto;
}
.responsive-object {
  position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

  .form-group {
    margin-bottom: 1rem;
  }
  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  .form-row > .col,
  .form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }

  .profile-image-thumbnail {
    float: left;
    width: 40px;
    height: 40px;
    max-width: 100%;
    margin-right: 5px;
    margin-bottom: 5px;
}  

.profile-menu-image {
  float: left;
  width: 30px;
  height: 30px;
  max-width: 100%;
  border-radius: 5px;
} 
code {
  background-color: #F3F0EE;
  padding: 2px;
  line-height: 0.6;
}

.enzed-blockquote {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(1.23046875rem, 0.9168rem + 0.9651vw, 1.640625rem);
  font-weight: 300;
  line-height: 1;
}
.enzed-blockquote-marks {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1;
  padding: 0px;
  margin: 0px;
}


.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23343a40'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.form-text {
  font-size: clamp(0.9rem, 0.8235rem + 0.2353vw, 1rem);
}
.form-control {
  font-size: clamp(0.9rem, 0.8235rem + 0.2353vw, 1rem);
}
.form-control-sm {
  font-size: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
}
.form-select {
  font-size: clamp(0.9rem, 0.8235rem + 0.2353vw, 1rem);
}
.form-select-sm {
  font-size: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
}
.input-group-text {
  font-size: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem);
}
.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.input-group-sm > .btn {
  font-size: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
}
.valid-feedback {
  font-size: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
}
.invalid-feedback {
  font-size: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
}
.bg-black {
  background-color: rgb(0, 0, 0) !important;
}
.blog-summary {
  line-height: 1.2;
  color: #868e96 !important;

}
.avatar {
  border-radius: 8px;
}
.image-block-caption {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem);
}
.carousel-caption {
  padding: 0.6rem 1rem;
  max-width: 100%;
  width: 100%;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  left: 0;
  bottom: 0;
  color: #ffffff;
  filter: alpha(opacity=40);
}
.carousel-title {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: clamp(1.23046875rem, 0.9168rem + 0.9651vw, 1.640625rem);
    color: white;
  line-height: 1.2; 
  background-color: #343a40 !important;
  padding: 0.8rem;
  font-weight: 600; 
}
.carousel-caption-title {
  font-family: Quicksand, "Work Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(1.125rem, 0.9099rem + 0.6618vw, 1.40625rem);
  text-align: end;
  line-height: 1.2;  
}
.carousel-caption-caption {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(0.9rem, 0.8235rem + 0.2353vw, 1rem);
  text-align: end;
  line-height: 1.2;  
}
.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}
.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.social-login-icon {
  border-radius: 8px;
  width: 30px;
  height: 30px;
  max-width: 100%;
  margin-right: 0.3rem;
}
.social-login-link {
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
