{% load wagtailimages_tags core_tags %}
    <main>
      <!-- pre-header -->
      <table style="display:none!important;">
        <tr>
          <td>
            <div
              style="overflow:hidden;display:none;font-size:1px;color:#ffffff;line-height:1px;maxheight:0px;max-width:0px;opacity:0;">
                <p>
                  {% if author %}
                      {{ trans.author_new_comment_notice }}
                  {% else %}
                      {{ trans.new_comment_notice }}
                  {% endif %}
                </p>
            </div>
          </td>
        </tr>
      </table>
      <!-- pre-header end -->

      <!-- banner -->
      {% get_logo 'email_banner' as email_banner %}
      {% if email_banner %}
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="17a2b8">
          <tr>
            <td align="center">
              <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                <tr>
                  <td align="center">
                    <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                      <tr>
                        <td align="center">
                          <a href="{{ site.domain }}" style="display: block; border-style: none !important; border: 0 !important;">
                            {% image email_banner.logo max-1000x200 as img %}
                            <img border="0" width="95%" height="auto" src="{{ base_url }}{{ img.url }}" alt="" />
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      {% endif %}
      <!-- end banner -->

      <!-- content section -->
      <table border="0" width="100%" cellpadding="0" cellspacing="0" class="bg_color">
        <tr>
          <td align="center">
            <table border="0" bgcolor="#ffffff" align="center" width="590" cellpadding="0" cellspacing="0" class="container590" style="border-radius: 10px;">
              <tr>
                <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
              </tr>
              <tr>
                <td align="center">
                  <table border="0" width="90%" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>{{ trans.salutation}} {{ user_name }},</p>
                        <p>
                          {% if author %}
                              {{ trans.author_new_comment_notice }}
                          {% else %}
                              {{ trans.new_comment_notice }}
                          {% endif %}
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="5" style="font-size: 5px; line-height: 5px;">&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <table border="0" width="90%" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="justify" style="color: #888888;">
                        {% include 'django_comments_xtd/follow_up_email/comment_preview.html' %}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="5px" style="font-size: 5px; line-height: 5px;">&nbsp;</td>
              </tr>
              <tr>
                <td align="center">
                  <table border="0" width="90%" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        {{ trans.sign_off }}<br/>
                        <a style="color: black;" href="https://{{ site.domain }}">{{ site.name }}</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="20px" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- end section -->
    </main>
