{% extends "account/base_card.html" %}
{% load core_tags %}
{% block card-header %}
    {% get_template_set "allauth social" as trans %}
    <title>EnzedOnline - {{ trans.connections_title }}</title>
    <h3>{{ trans.connections_title }}</h3>
{% endblock card-header %}
{% block card-body %}
    {% get_template_set "allauth social" as trans %}
    <h5>{{ trans.add_prompt }}</h5>
    {% include "socialaccount/provider_list.html" with process="connect" alignment="start" %}
    <hr class="mt-4">
    {% if form.accounts %}
        <h5>{{ trans.connected_accounts }}</h5>
        <form method="POST"
              action="{% url 'socialaccount_connections' %}"
              class="needs-validation"
              novalidate>
            {% csrf_token %}
            <fieldset>
                {% if form.non_field_errors %}<div id="errorMsg">{{ form.non_field_errors }}</div>{% endif %}
                {% for base_account in form.accounts %}
                    {% with base_account.get_provider_account as account %}
                    <div class="d-flex align-items-center text-start pb-2">
                        <label for="id_account_{{ base_account.id }}">
                            <input id="id_account_{{ base_account.id }}"
                                   type="radio"
                                   name="account"
                                   value="{{ base_account.id }}" />
                        </label>
                        <div class="d-inline">
                            {% with provider=base_account.provider|remove:"oidc_" %}
                            <svg class="ms-2 me-1"
                                 title="{{ provider }}"
                                 height="1em"
                                 width="1em">
                                <use href="#icon-{{ provider|lower }}" />
                            </svg>
                            {% endwith %}
                        </div>
                        <div class="d-inline">{{ account.get_brand.name }} ({{ account }})</div>
                    </div>
                    {% endwith %}
                {% endfor %}
                <div>
                    <button type="submit" class="btn btn-outline-danger mt-4">{{ trans.remove }}</button>
                </div>
            </fieldset>
        </form>
    {% else %}
        <p>{{ trans.no_connections }}</p>
    {% endif %}
{% endblock card-body %}
{% block card-footer %}
    {% get_template_set "accounts" as trans %}
    <a href="{% url 'account_update' request.user.url %}">{{ trans.update_profile }}</a>
{% endblock card-footer %}
