{% load socialaccount static %}
{% get_providers as socialaccount_providers %}
<div class="row g-2">
    {% for provider in socialaccount_providers %}
        <div class="d-none">
            {% with icon_path="menu/oauth/"|add:provider.name|lower|add:".svg" %}
                {% include icon_path %}
            {% endwith %}
        </div>
        <div class="col-auto">
            <a title="{{ provider.name }}"
               href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params next=next %}">
                <svg class="avatar" title="{{ provider.name }}">
                    <use href="#icon-{{ provider.name|lower }}" />
                </svg>
            </a>
        </div>
    {% endfor %}
</div>
