{% load wagtailimages_tags menu_tags static %}

{# Language Switcher #}
{% comment %} 
    Language switcher:
    Flag of currently selected language displayed on drop down menu heading
    language_switcher menu tag iterates through site locales, finds equivalent url for each locale
    Template code loops through results, adds menu item flag + locale name + link to equiv page
    Assumes image for each language uploaded to Wagtail with title 'flag-lang_code' (eg flag-en, flag-fr etc)  
{% endcomment %}

<div class="collapse navbar-collapse order-2 dual-collapse2" style="max-width: 50px;" id="language-switcher">
    <ul class="navbar-nav ms-auto bd-example-container-sidebar">   
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {% get_lang_flag as flag %}
                {% image flag fill-16x11 class="image-menu" %}
            </a>
            <div class="dropdown-menu dropdown-menu-right switcher-menu">
                {% language_switcher self as switcher %}
                {% for lang in switcher.switch_pages %}
                    <a class="dropdown-item switcher-item" href="{{ lang.url }}">
                        {% image lang.flag fill-16x11 class="image-menu" %}&nbsp;
                        {{ lang.language }}
                    </a>
                    {{ lang.alternate | safe}}
                {% endfor %}
                {{ switcher.default_link | safe }}
            </div>
        </li>       
    </ul>
</div> 

