{% load wagtailimages_tags menu_tags %}

{% get_menu menu as this_menu %}
{% if this_menu %}
    {% get_menu_items this_menu request as navigation %}
    {% for item in navigation %}
        {% if not item.is_submenu %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == item.url %} active{% endif %}" href="{{item.url}}">                            
                    {% if item.icon %}
                        {% image item.icon fill-25x25 class="image-menu" %}
                    {% endif %}
                    {{ item.title }}
                </a>
            </li>
        {% else %}
            {% get_menu item.submenu_id as sub_menu %}
            {% if sub_menu %}
                {% get_menu_items sub_menu request as sub_menu_items %}
                {% if sub_menu_items %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {% if item.display_option != 'text' and sub_menu.icon %}
                                {% image sub_menu.icon fill-25x25 class="image-menu" %}
                            {% endif %}
                            {% if item.display_option != 'icon'%}
                                {{ sub_menu.title }}
                            {% endif %}
                        </a>
                        <div class="dropdown-menu">
                            {% for subitem in sub_menu_items %}
                                {% if not subitem.is_submenu %}
                                    <a class="dropdown-item{% if request.path == subitem.url %} active{% endif %}" href="{{subitem.url}}">
                                        {% if subitem.icon %}
                                            {% image subitem.icon fill-25x25 class="image-menu" %}
                                        {% endif %}
                                        {{ subitem.title }}
                                    </a>
                                {% else %}
                                    {% get_menu subitem.submenu_id as subsubmenu %}
                                    {% if subsubmenu %}
                                        {% get_menu_items subsubmenu request as sub_sub_menu_items %}
                                        {% if sub_sub_menu_items %}
                                            <div class="dropright"> 
                                                <button class="btn btn-dark btn-block text-left bg-transparent dropdown-toggle" data-toggle="dropdown">
                                                    {% if subitem.display_option != 'text' and subsubmenu.icon %}
                                                        {% image subsubmenu.icon fill-25x25 %}
                                                    {% endif %}
                                                    {% if subitem.display_option != 'icon'%}
                                                        {{ subsubmenu.title }}
                                                    {% endif %}
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-left">
                                                    {% for subitem in sub_sub_menu_items %}
                                                        {% if not subitem.is_submenu %}
                                                            <a class="dropdown-item{% if request.path == subitem.url %} active{% endif %}" href="{{subitem.url}}">
                                                                {% if subitem.icon %}
                                                                    {% image subitem.icon fill-25x25 class="image-menu" %}
                                                                {% endif %}
                                                                {{ subitem.title }}
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if subitem.divider %}
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
