{% load static core_tags %}
{% get_search_or_none as previous_term %}

{# Desktop Search Menu #}
<div 
    class="collapse navbar-collapse dual-collapse3 d-none d-md-block order-3 pe-2 pe-md-0 ms-auto me-0 flex-grow-1 flex-md-grow-0 enzed-menu-collapse" 
    id="desktop-search" 
    >
    <ul class="navbar-nav ms-auto me-0 ps-3 ps-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               title="Search" id="search_menu_navbardrop" 
               data-bs-toggle="dropdown" 
               role="button" 
               rel="nofollow"
               href="#"
               aria-haspopup="true" 
               aria-expanded="false"
               aria-label="Click to search on desktop">
                <span class="text-white">
                    <svg class="navbar-search-icon">
                        <use href="{% static 'svg/search.svg' %}#search" fill="currentColor" />
                    </svg>                  
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end search-menu">
                <form action="{% url 'search' %}" method="get">
                    <div class="form-group row g-1 my-1 pb-1">
                        <div class="col">
                            <input type="text" 
                                   onfocus="this.select();" 
                                   onmouseup="return false;" 
                                   name="query" 
                                   id="searchbox" 
                                   class="form-control py-1 ps-2" 
                                   aria-label="Desktop search form"
                                   {% if previous_term %}value="{{ previous_term }}"{% endif %}>
                        </div>
                        <div class="col-auto">
                            <input type="submit" value="Search" class="btn-primary form-control py-1">
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>
{# Mobile Search Menu #}
<div class="collapse navbar-collapse dual-collapse2 order-5 order-md-0 pt-2 p-md-0 m-md-0 enzed-menu-collapse" 
    id="mobile-search" 
    >
    <ul class="navbar-nav ps-3 d-md-none">
        <li class="nav-item">
            <form action="{% url 'search' %}" method="get">
                <div class="form-group row g-1 my-1 pb-1">
                    <div class="col">
                        <input type="text" 
                               onfocus="this.select();" 
                               onmouseup="return false;" 
                               name="query" 
                               class="form-control py-1 px-2" 
                               aria-label="Search on mobile"
                               {% if previous_term %}value="{{ previous_term }}"{% endif %}>
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="Search" class="btn-primary form-control py-1">
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>
