{% load adv_cache wagtailimages_tags menu_tags socialaccount core_tags static %}

{% nocache %}

{# User menu - add social logins after loaded menu #}
{% get_menu 'user' as user_menu %}
{% if user_menu %}
    {% get_menu_items user_menu request as user_menu_items %}

    <div class="collapse navbar-collapse dual-collapse2 order-3 pe-md-0 ms-auto me-1 flex-grow-1 flex-md-grow-0 enzed-menu-collapse" id="user-profile-menu" aria-label="User profile menu">
        <ul class="navbar-nav ps-3 ps-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ps-md-1" title="{{ request.user.display_name }}" id="navbardrop" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% if request.user.is_authenticated %}
                        <span class="text-white"><i class="fas fa-user fa-lg"></i></span>
                        Profile
                    {% else %}
                        <span class="text-white"><i class="far fa-user fa-lg"></i></span>
                        Login
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    {% if request.user.is_authenticated %}
                            <span class="dropdown-label">
                                Logged in as<br>
                                {{ request.user.display_name }}
                            </span>
                        <hr class="dropdown-divider">
                    {% endif %}
                    {% for subitem in user_menu_items %}
                        {% if not subitem.is_submenu %}
                            <a class="dropdown-item{% if request.path == subitem.url %} active{% endif %}" href="{{subitem.url}}" rel="nofollow">
                                {% if subitem.icon %}
                                    {% image subitem.icon fill-25x25 class="image-menu" %}
                                {% endif %}
                                {{ subitem.title }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% if not request.user.is_authenticated %}
                        <hr class="dropdown-divider">
                        {% get_providers as socialaccount_providers %}
                        {% if socialaccount_providers %}
                            <span class="dropdown-label">Log in with social account</span>
                            <p class="dropdown-row">
                                {% for provider in socialaccount_providers %}
                                    <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }} social-login-link" 
                                        href="{% provider_login_url provider.id process="login" next=request.path  scope=scope auth_params=auth_params %}" rel="nofollow">
                                        <img alt="{{ provider.name }}" class="social-login-icon" src="{% static 'images/' %}{{ provider.name }}logo.png" width="40" height="40">
                                    </a>
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
{% endif %}

{% endnocache %}
