{% load static quote_tags %}

{% get_quote_marks as quotes %}

<div class="block-container enzed-blockquote {{ self.background }}">
  <div class="row">
    <div class="col-1 mb-auto enzed-blockquote-marks-container">
      <svg height="40" width="40">
        <use 
        href="{% static quotes.open %}#svg"
        height="100%" width="100%" fill="currentColor" />
      </svg>    
    </div>
    <div class="col my-auto">
      {{ self.text | linebreaksbr }}
    </div>
    <div class="col-1 mt-auto enzed-blockquote-marks-container">
      <svg height="40" width="40">
        <use 
        href="{% static quotes.close %}#svg"
        height="100%" width="100%" fill="currentColor" />
      </svg>    
    </div>
  </div>
  {% if self.attribute_name %}
    <div class="row">
      <div class="col-1 enzed-blockquote-marks-container"></div>
        <div class="col">
          <div class="attribution">{{ self.attribute_name }}</div>
        </div>
      <div class="col-1 enzed-blockquote-marks-container"></div>
    </div>
  {% endif %}
</div>
