<div class="block-container{% if self.bottom_padding %} pb-2{% endif %}">
    <pre><code class="prism-block language-{{ self.language }}" id="code-block-{{ block.id }}">{{ self.code }}</code></pre>
</div>
{% if self.language == "django" %}
    <script>
        // Insert whitespace after "{%" and "{{" if the next character is not whitespace
        // Insert whitespace before "%}" and "}}" if the previous character is not whitespace
        const element = document.getElementById(`code-block-{{ block.id }}`);
        element.innerHTML = element.innerHTML
            .replace(/{{(?!\s)/g, '{{ ')
            .replace(/{%(?!\s)/g, '{% ')
            .replace(/(?<!\s)}}/g, ' }}')
            .replace(/(?<!\s)%}/g, ' %}');
    </script>
{% endif %}
