{% load wagtailcore_tags collapsable_card_tags %} 
{% button_colour value.header_colour as banner %}

<div mb-3 py-3>
  &nbsp;
  <div class="accordion border-{{ banner.border }}" id="collapsable_card_block" mb-3>
    {% for card in value.cards %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="header{{ forloop.counter }}">
          <button class="accordion-button {{self.header_colour}}{% if not forloop.first %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
            {{ card.value.header|title }}
          </button>
        </h2>
        <div id="collapse{{ forloop.counter }}" class="accordion-collapse{% if not forloop.first %} collapse{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#collapsable_card_block" style="">
          <div class="accordion-body {{ self.body_colour }}">
            {% include_block card.value.text %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  &nbsp;
</div>

<script>
    $(".accordion-button").mouseup(function(){
        $(this).blur();
    })

</script>