{% load document_block_tags %}
{% button_appearance value.appearance value.outline as btn_style %}
{% text_appearance value.text_size value.outline as text_style %}
{% document_list value.sort_by value.tag_list as documents %}
{% if documents %}
    <div class="block-container">
        {% for document in documents %}
            {% if value.full_width %}<div class="col-12">{% endif %}
                <a class="btn {{ btn_style }} {{ text_style }} text-{{ value.alignment }}{% if value.full_width %} w-100{% endif %}"
                   href="{{ document.url }}"
                   target="_blank">
                    {% if value.icon %}<i class="{{ value.icon }} pe-2"></i>{% endif %}
                    {{ document.title }}
                </a>
                {% if value.full_width %}</div>{% endif %}
        {% endfor %}
    </div>
{% endif %}
