{% load  flex_card_tags %}
{% padding self.border self.background as pad %}

<div class="block-container">
  {% if self.format == 'vertical' %}
    <div class="card {{ self.background }} {% if not self.border %}border-0 {% endif %}p-{{pad}}{% if self.full_height %} h-100{% endif %}">
      <a href="{{ self.external_link }}" target="_blank">
        <img
          src="{{ self.image }}"
          alt="{{ self.title }}"
          style="width: 100%; height: auto"
        />
      </a>
      <div class="card-body text-break p-0 pt-3" style="object-fit: cover;">
        <h5 class="card-title fw-bolder">{{ self.title }}</h5>
        <p class="lh-sm mb-1">{{ self.description|linebreaksbr }}</p>
      </div>
      <div class="card-footer pb-0 px-0 border-0 {{ self.background }}" style="text-align: {{ self.button_placement }};">
        <a class="btn stretched-link {{ self.button_appearance }} {{ self.button_size }}" onclick=" window.open('{{ self.external_link }}','_blank')" role="button">{{ self.button_text }}</a>
      </div>
    </div>
  {% elif self.format == 'image-left-responsive' %}
    <div class="card {{ self.background }} {% if not self.border %}border-0 {% endif %}p-{{pad}} {% if self.full_height %}h-100{% endif %}">
      <div class="row no-gutters">
        <div class="col-sm-4" style="min-width: 200px;">
            <a href="{{ self.external_link }}" target="_blank">
              <img
                src="{{ self.image }}"
                alt="{{ self.title }}"
                style="width: 100%; height: auto"
              />
            </a>
        </div>
        <div class="d-flex flex-column col">
          <div class="card-body text-break p-0 pt-3 pt-sm-0">
            <h5 class="card-title fw-bolder">{{ self.title }}</h5>
            <p class="lh-sm mb-1">{{ self.description|linebreaksbr }}</p>
          </div>
          <div class="card-footer p-0 pt-2 border-0 {{ self.background }}" style="text-align: {{ self.button_placement }};">
            <a class="btn stretched-link {{ self.button_appearance }} {{ self.button_size }}" onclick=" window.open('{{ self.external_link }}','_blank')" role="button">{{ self.button_text }}</a>
          </div>
        </div>
      </div>
    </div>
  {% elif self.format == 'image-left-fixed' %}
    <div class="card {{ self.background }} {% if not self.border %}border-0 {% endif %}p-{{pad}}{% if self.full_height %} h-100{% endif %}">
      <div class="row no-gutters">
        <div class="col-4 mb-2 mb-sm-0" style="min-width: 200px;">
            <a href="{{ self.external_link }}" target="_blank">
              <img
                src="{{ self.image }}"
                alt="{{ self.title }}"
                style="width: 100%; height: auto"
              />
            </a>
        </div>
        <div class="d-flex flex-column col">
          <div class="card-body text-break p-0">
            <h5 class="card-title fw-bolder">{{ self.title }}</h5>
            <p class="lh-sm mb-1">{{ self.description|linebreaksbr }}</p>
          </div>
          <div class="card-footer p-0 pt-2 border-0 {{ self.background }}" style="text-align: {{ self.button_placement }};">
            <a class="btn stretched-link {{ self.button_appearance }} {{ self.button_size }}" onclick=" window.open('{{ self.external_link }}','_blank')" role="button">{{ self.button_text }}</a>
          </div>
        </div>
      </div>
    </div>
  {% elif self.format == 'image-right-responsive' %}
    <div class="card {{ self.background }} {% if not self.border %}border-0 {% endif %}p-{{pad}}{% if self.full_height %} h-100{% endif %}">
      <div class="row flex-row-reverse no-gutters">
        <div class="col-sm-4" style="min-width: 200px;">
            <a href="{{ self.external_link }}" target="_blank">
              <img
                src="{{ self.image }}"
                alt="{{ self.title }}"
                style="width: 100%; height: auto"
              />
            </a>
        </div>      
        <div class="d-flex flex-column col">
          <div class="card-body text-break p-0 pt-3 pt-sm-0">
            <h5 class="card-title fw-bolder">{{ self.title }}</h5>
            <p class="lh-sm mb-1">{{ self.description|linebreaksbr }}</p>
          </div>
          <div class="card-footer p-0 pt-2 border-0 {{ self.background }}" style="text-align: {{ self.button_placement }};">
            <a class="btn stretched-link {{ self.button_appearance }} {{ self.button_size }}" onclick=" window.open('{{ self.external_link }}','_blank')" role="button">{{ self.button_text }}</a>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="card {{ self.background }} {% if not self.border %}border-0 {% endif %}p-{{pad}}{% if self.full_height %} h-100{% endif %}">
      <div class="row flex-row-reverse no-gutters">
        <div class="col-4 mb-2 mb-sm-0" style="min-width: 200px;">
            <a href="{{ self.external_link }}" target="_blank">
              <img
                src="{{ self.image }}"
                alt="{{ self.title }}"
                style="width: 100%; height: auto"
              />
            </a>
        </div>      
        <div class="d-flex flex-column col">
          <div class="card-body text-break p-0">
            <h5 class="card-title fw-bolder">{{ self.title }}</h5>
            <p class="lh-sm mb-1">{{ self.description|linebreaksbr }}</p>
          </div>
          <div class="card-footer p-0 pt-2 border-0 {{ self.background }}" style="text-align: {{ self.button_placement }};">
            <a class="btn stretched-link {{ self.button_appearance }} {{ self.button_size }}" onclick=" window.open('{{ self.external_link }}','_blank')" role="button">{{ self.button_text }}</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
