{% load wagtailimages_tags core_tags %}

{% get_picture_rendition self.image 1800 as webp_img_w_1800 %}
{% get_picture_rendition self.image 1600 as webp_img_w_1600 %}
{% get_picture_rendition self.image 1200 as webp_img_w_1200 %}
{% get_picture_rendition self.image 750 as webp_img_w_750 %}
{% get_picture_rendition self.image 500 as webp_img_w_500 %}
{% image self.image.file original as fallback %}

<div class="block-container">
  <div class="{{ self.background }} p-1 mx-auto rounded-3"
    {% if self.max_width %} style="max-width: calc({{self.max_width}}px + 0.5rem);"{% endif %}>
    <figure class="m-0{% if self.max_width %}" style="max-width: {{self.max_width}}px;"{% endif %}>
      <picture class="srcset">
        <source media="(min-width: 1600px)" srcset="{{ webp_img_w_1800.url }}" type="image/webp">
        <source media="(min-width: 1200px)" srcset="{{ webp_img_w_1600.url }} 1600w" type="image/webp">
        <source media="(min-width: 750px)" srcset="{{ webp_img_w_1200.url }} 1200w" type="image/webp">
        <source media="(min-width: 500px)" srcset="{{ webp_img_w_750.url }} 750w" type="image/webp">
        <source srcset="{{ webp_img_w_500.url }} 500w" type="image/webp">
        <source srcset="{{ fallback.url }}">

        <img class="srcset__image" src="{{ fallback.url }}" alt="{{ self.image.seo_title }}" style='width: 100%; height: auto;'>
      </picture>
      {% if self.caption or self.attribution %}
        <figcaption class="image-block-caption text-end px-1 pt-1 pb-2 lh-sm">
          {% if self.caption %}{{ self.caption }}{% endif %}
          {% if self.caption and self.attribution %}<br>{% endif %}
          {% if self.attribution %}<small class="fw-lighter">{{ self.attribution }}</small>{% endif %}
        </figcaption>
      {% endif %}
    </figure>
  </div>
</div>