{% load static map_block_tags core_tags %}
{% get_template_set 'maps' as trans %}

<link
  href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css"
  rel="stylesheet"
/>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js"></script>

{% get_map_settings block as map_settings %} 
{{ map_settings|json_script:"map_settings" }} 

<div class="block-container vh-70">
  <div id="map-{{ map_settings.uid }}" class="map-block"></div>
  {% if block.value.show_route_info and self.route_type != 'no-route' %}
    <div id="route-{{ map_settings.uid }}" style="display:none;">
      {{ trans.route_length }}: <span id="distance-{{ map_settings.uid }}"></span>{{ trans.km }}, 
      {{ trans.approximate_time }} <span id="hours-{{ map_settings.uid }}"></span> {{ trans.hours }}.
    </div>
  {% endif %}
</div>


<script src="{% static 'js/map_block.js' %}"></script>

