{% load wagtailimages_tags wagtailcore_tags flex_card_tags %}

{% image self.image.file width-400 format-webp as webp_img %}
{% image self.image.file width-400 as fallback %}

{% padding self.border self.background as pad %}

    <div class="card {{ self.background }} {% if not self.border %}border-0 {% endif %}p-{{pad}}" style="min-width:300px;">
      <div style="text-align: center;">  
        <picture>
          <source srcset="{{ webp_img.url }}" type="image/webp" />
          <source srcset="{{ fallback.url }}" />
          <img
            src="{{ fallback.url }}"
            alt="{{ self.image.seo_title }}"
            class="img-fluid"
          />
        </picture>
      </div>
      <div class="py-0 text-break" style="max-width:400px">
        {% include_block self.text %}
      </div>
    </div>