{% load toc_block_tags %}
<div id="autoToC"></div>

<script>
  function listContents() {
    const main = document.getElementsByTagName("main");
    const contact = document.getElementById("autoToC");

    if (!(main && contact)) {
      return;
    }

    const headers = main[0].querySelectorAll("{% get_query_selector value.lowest_index_level %}");

    if (headers.length < 1) {
      return;
    }

    {% if value.toc_title %}
    contact.appendChild(document.createElement("HR"));
    contact.appendChild(document.createElement("H2")).innerText = "{{ value.toc_title }}";
    contact.appendChild(document.createElement("HR"));
    {% endif %}

    const list = contact.appendChild(document.createElement("DIV"));
    list.classList.add("toc");
    
    for (let i = 0; i < headers.length; i++) {
      let id = `${i+1}-${slugify(headers[i].innerText)}`;
      headers[i].id = id;
      list.appendChild(
        document.createTextNode(`${indent(headers[i].nodeName)}`)
      );
      let link = list.appendChild(document.createElement("A"));
      let text = document.createTextNode(`${headers[i].innerText}`);
      link.appendChild(text);
      link.href = `#${id}`;
      list.appendChild(document.createElement("BR"));
    }
  }

  document.addEventListener("DOMContentLoaded", (event) => {
    listContents();
  });

  function indent(level) {
    return "⠀".repeat(Number(level[1] - 2));
  }

  function slugify(str) {
    str = str.replace(/^\s+|\s+$/g, "");

    // Make the string lowercase
    str = str.toLowerCase();

    // Remove accents, swap ñ for n, etc
    var from =
      "ÁÄÂÀÃÅČÇĆĎÉĚËÈÊẼĔȆÍÌÎÏŇÑÓÖÒÔÕØŘŔŠŤÚŮÜÙÛÝŸŽáäâàãåčçćďéěëèêẽĕȇíìîïňñóöòôõøðřŕšťúůüùûýÿžþÞĐđßÆa·/_,:;";
    var to =
      "AAAAAACCCDEEEEEEEEIIIINNOOOOOORRSTUUUUUYYZaaaaaacccdeeeeeeeeiiiinnooooooorrstuuuuuyyzbBDdBAa------";
    for (var i = 0, l = from.length; i < l; i++) {
      str = str.replace(new RegExp(from.charAt(i), "g"), to.charAt(i));
    }

    // Remove invalid chars
    str = str
      .replace(/[^a-z0-9 -]/g, "")
      // Collapse whitespace and replace by -
      .replace(/\s+/g, "-")
      // Collapse dashes
      .replace(/-+/g, "-");

    return str;
  }
</script>
