{% load static wagtailcore_tags grid_block_tags %}
{% three_column_layout value block.id as layout %}
{% if layout.size %}{{ layout.size }}{% endif %}

  <div class="row">
    <div {{ layout.l_class }}>
      {% for block in value.left_column %}
        {% include_block block %}
      {% endfor %}
    </div>
    <div {{ layout.m_class }}>
      {% for block in value.centre_column %}
        {% include_block block %}
      {% endfor %}
    </div>
    <div {{ layout.r_class }}>
      {% for block in value.right_column %}
        {% include_block block %}
      {% endfor %}
    </div>
  </div>
