{% load wagtailimages_tags %}
{% image self.image.file width-2100 format-webp as webp_img_w_2100 %} 
{% image self.image.file width-1500 format-webp as webp_img_w_1500 %} 
{% image self.image.file width-900 format-webp as webp_img_w_900 %} 
{% image self.image.file width-600 format-webp as webp_img_w_600 %}
{% image self.image.file width-300 format-webp as webp_img_w_300 %}
{% image self.image.file width-2100 as fallback %}

{% if self.link %}<a href="{{ self.link.url }}">{% endif %}
    <picture>
      <source media="(min-width: 1800px)" srcset="{{ webp_img_w_2100.url }} 2100w" type="image/webp" />
      <source media="(min-width: 1200px)" srcset="{{ webp_img_w_1500.url }} 1500w" type="image/webp" />
      <source media="(min-width: 750px)" srcset="{{ webp_img_w_900.url }} 900w" type="image/webp" />
      <source media="(min-width: 500px)" srcset="{{ webp_img_w_600.url }} 600w" type="image/webp" />
      <source srcset="{{ webp_img_w_300.url }} 300w" type="image/webp" />
      <source srcset="{{ fallback.url }} 2100w" />
      <img
        src="{{ fallback.url }}"
        alt="{{ self.image.seo_title }}"
        style="width: 100%; height: auto"
      />
    </picture>
  {% if self.link %}</a>{% endif %}
