.banner-underlay-container {
  height: clamp(44px, calc(44px + (70 - 44) * ((100vw - 475px) / (1700 - 475))), 70px);
}

.banner-overlay-text-block {
  position: absolute;
  bottom: 0px;
  left: 00px;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0));
  color: white;
  padding-top: 10px !important;
  padding-bottom: clamp(0.25rem, 0.1250rem + 0.5000vw, 0.5rem);
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  object-fit: cover;
  text-align: left;
}

.banner-headline {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-2);
  font-weight: 500;
  line-height: 1.0;
  color: #fff;
}

.banner-subheading {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-5);
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
}

.banner-image {
  width: 100%;
  height: auto;
}

.banner-image-caption {
    font-family: var(--font-family-headings);
    font-size: var(--banner-image-caption-font-size) !important;
    padding: clamp(0.1rem, 0rem + 0.3vw, 0.25rem) 0.25rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff7e7;
    background: #00000052;
}