.filter-label,
.category-link {
  font-size: var(--font-size-5);
  font-weight: 600;
  line-height: 0.8;
  text-decoration: none;
}

.filter-label,
.category-link, 
.tag-link {
  font-family: var(--font-family-headings);
  color: rgba(255, 255, 255, 0.9) !important;
  padding: 0px;
}

.category-link.active,
.tag-link.active {
  color: var(--bs-highlight-bg) !important;
  font-weight: bolder;
}

.category-link:hover,
.tag-link:hover {
  color: var(--bs-highlight-bg) !important;
}

.filter-message {
  font-family: var(--font-family-headings);
  color: var(--bs-info);
  font-weight: 500;
  text-align: center;
  padding: 1em 0 0 0;
}