/* ======= Scrolling ======= */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

/* ======= Scroll Bar ======= */
/* width */
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px darkgray;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9b8b8;
  border-radius: 8px;
  box-shadow: inset -5px -5px 8px #797979;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adb5bd;
  box-shadow: inset -5px -5px 8px #494949;
}

/* ======= End Scroll Bar ======= */