.toc {
  font-family: var(--font-family-headings);
  text-align: left;
}

.toc a {
  text-decoration: none;
}

.toc-title {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-2);
  margin-bottom: 0;
}

.toc-list {
  padding-left: 10px;
  list-style: none;
}

.toc-item-l1 {
  font-size: clamp(1.35rem, 1.3232rem + 0.1127vw, 1.45rem);
  text-indent: 0rem;
  margin-bottom: 0;
}

.toc-item-l2::marker {
  content: '• ';
}

.toc-item-l2 {
  font-size: clamp(1.25rem, 1.2232rem + 0.1127vw, 1.35rem);
  margin-left: 1.8rem;
  margin-bottom: 0;
}

.toc-item-l3::marker {
  content: '◦ ';
}

.toc-item-l3 {
  font-size: clamp(1.15rem, 1.1099rem + 0.169vw, 1.3rem);
  margin-left: 3rem;
  margin-bottom: 0;
  padding-top: 0.15rem;
}

.toc-item-l4::marker {
  content: '▪ ';
}

.toc-item-l4 {
  font-size: clamp(1.05rem, 1.0099rem + 0.169vw, 1.2rem);
  margin-left: 4.1rem;
  margin-bottom: 0;
  padding-top: 0.125rem;
}

.toc-item-l5::marker {
  content: '− ';
}

.toc-item-l5 {
  font-size: clamp(1rem, 0.9732rem + 0.1127vw, 1.1rem);
  margin-left: 5.1rem;
  margin-bottom: 0;
  padding-top: 0.1rem;
}

.toc-link {
  text-decoration: none;
  color: inherit;
}

.toc-link::after {
  display: inline-flex;
  content: '';
  background-image: url("/static/svg/link-solid.svg");
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  height: 0.8em;
  width: 0.8em;
  margin-left: 0.3em;
}

.toc-link:hover::after {
  opacity: 1;
}