.banner-underlay-container {
    height: var(--goneforawander-brand-height) !important;
}

.banner-headline {
    font-size: var(--goneforawander-banner-headline-font-size) !important;
}

.banner-subheading {
    font-size: var(--goneforawander-banner-subheading-font-size) !important;
}