body {
    background-color: var(--goneforawander-body-background);
    color: var(--goneforawander-body-color);
}

.gfw-dark {
    background-color: var(--goneforawander-dark-green);
    color: var(--goneforawander-color-light);
}