// Travel Blog Page 
div.travelblog-page {
    div.travelblog-location-date {
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        width: fit-content;
        margin: auto;
        padding: 0.25rem 1rem !important;
        text-align: center;
    }
}

// Travel Blog Listing Page
div.travelblog-listing-page {
    div.travelblog-list-introduction {
        padding-top: 1rem;

        * {
            font-family: var(--font-family-headings);
            line-height: 1.4;
            text-align: center !important;
        }
    }

    div.travelblog-cards {
        margin-top: 1rem;

        &:not(.flexmasonry) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        }

        div.travelblog-card {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

            img {
                border-radius: 5px;
            }

            .card-title {
                text-transform: capitalize;
            }

            div.travelblog-summary.blog-summary {
                text-align: center;
            }
        }
    }

    button#open-filter-panel {
        font-size: var(--font-size-body);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);

        >svg {
            width: 1.5em;
            height: 1.5em;
            margin-left: .5rem;
            vertical-align: bottom;
        }
    }

    div#travelblog-taglist {
        font-family: var(--font-family-headings);
        align-items: center;

        &:has(div.filter-tags) {
            margin: 0.5rem 0 1rem;
        }

        div.filter-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;

            div.travelblog-tag-item {
                background-color: var(--goneforawander-dark-green);
                color: white;
                padding: 0.25rem 0.5rem;
                border-radius: 0.5rem;
                font-size: var(--font-size-6);
                position: relative;

                div.travelblog-tag-item-delete {
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    background-color: white;
                    border-radius: 50%;
                    font-size: .75rem;
                    width: 18px;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: var(--goneforawander-dark-green);
                    border: 2px solid var(--goneforawander-dark-green);
                }
            }
        }
    }

    div.travelblog-offcanvas {
        background-color: var(--goneforawander-color-light);

        div.offcanvas-header {
            background-color: var(--goneforawander-dark-green);
            color: var(--goneforawander-color-light);
            padding: 0.5rem 1rem;
            font-family: var(--font-family-headings);
        }

        div.offcanvas-body {
            background-color: var(--goneforawander-color-light);

            div.travelblog-filter-items {
                font-family: var(--font-family-headings);
                font-size: var(--font-size-6);
                font-weight: 500;

                div.travelblog-filter-type {
                    margin: 0.5rem 0 0.25rem;
                }

                div.travelblog-filter-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.25rem 0.5rem;

                    div.tag-item {
                        border: 2px solid var(--goneforawander-dark-green);
                        border-radius: 10px;
                        background-color: white;
                        color: var(--goneforawander-dark-green);
                        padding: 0 0.5rem;
                        cursor: pointer;

                        &.active {
                            background-color: var(--goneforawander-dark-green);
                            color: var(--goneforawander-color-light);
                        }
                    }
                }
            }
        }

        div.button-row {
            display: flex;
            border-top: 2px solid var(--goneforawander-dark-green);
            background-color: var(--goneforawander-color-light);
            padding: 0.5rem 1rem;
        }
    }
}