{% extends "base.html" %}
{% load adv_cache static wagtailcore_tags latest_blog_posts_block_tags core_tags structured_data_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/flexmasonry.css' %}" type="text/css">
    <script src="{% static 'js/flexmasonry.js' %}"></script>
    <script src="{% static 'js/flexmasonry.extra.js'%}"></script>
    {% cache None page.slug "structure" self.latest_revision_created_at %}
      {% include 'home/structured_data.html' %}
    {% endcache %} 
{% endblock extra_head %}

{% block header %}
    {# Page Banner #}
    {% include 'core/banner_image.html' %}
{% endblock header %}

{% block content %}

    {% cache None page.slug "body" self.latest_revision_created_at %}

        <div class="container-fluid pt-0 pt-md-2 px-2 px-sm-5 pb-4">
            <div class="row mt-4 px-md-2 pb-0 text-start">
                <h1 class="mb-0">{{ self.title }}</h1>
            </div>
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>


    {% endcache %}

    {% get_latest_posts 12 as posts %}
    {% if posts %}
        {% cache None page.slug "blog_list" self.latest_revision_created_at %}
            {% get_template_set 'common' as trans %}
            <div class="container-fluid pt-0 pt-md-2 px-2 px-sm-5 pb-4">
                <h3 class="fw-bold ps-4 pb-0">{{ trans.latest_blogs }}</h3><hr/>
                {% include 'core/blog_posts.html' %}
            </div>
        {% endcache %}
    {% endif %}

{% endblock content %}

