{% load core_tags structured_data_tags %}
{% get_google_thumbnails self.search_image as thumbnails %}
{% get_social_media_sameas as sameAs %}
{% get_organisation_logo as logo %}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "{{ page.get_site.root_url }}",
        "name": "{{ page.get_site.site_name }}",
        "publisher": {
            "@type": "Organization",
            "@id": "{{ page.get_site.root_url }}",
            "name": "{{ page.get_site.site_name }}",
            "logo": "{{ logo }}",
            "url": "{{ page.get_site.root_url }}",
            "sameAs": [{{ sameAs }}]
        },
        "potentialAction": {
            "@type": "SearchAction",
            "target": {
                "@type": "EntryPoint",
                "urlTemplate": "{{ page.get_site.root_url }}/search/?query={search_term_string}"
            },
            "query-input": "required name=search_term_string"
        },
        "mainEntity":{
            "@type": "WebPage",
            "headline": "{{ self.seo_title|replace_doublequotes }}",
            "name": "{{ self.title|replace_doublequotes }}",
            "description": "{{ self.summary|strip_newlines|replace_doublequotes }}",
            "image": ["{{ thumbnails.tn1x1.full_url }}","{{ thumbnails.tn4x3.full_url }}","{{ thumbnails.tn16x9.full_url }}"],
            "datePublished": "{{ self.first_published_at|date:'c' }}",
            "dateModified": "{{ self.last_published_at|date:'c' }}",
            "publisher": {
                "@type": "Organization",
                "@id": "{{ page.get_site.root_url }}",
                "name": "{{ page.get_site.site_name }}",
                "logo": "{{ logo }}",
                "url": "{{ page.get_site.root_url }}",
                "sameAs": [{{ sameAs }}]
            },
            "url": "{{ self.full_url }}"
        }
    }
</script>   