{% load l10n comments comments_xtd core_tags %}
{% get_template_set "comments" as trans %}

{% for item in comments %}
    {% if not item.comment.is_removed %}
        <div class="card bg-light border-0 pt-1 mb-1">
            <div class="row">
                <div class="col-auto ms-3 mt-2 w-5" id="c{{ item.comment.id }}">
                    {% if item.comment.user.display_name %}
                        <span class="text-primary text-center"><i class="fas fa-user fa-4x"></i></span>
                    {% else %}
                        <span class="text-secondary text-center"><i class="far fa-user fa-4x"></i></span>
                    {% endif %}
                </div>
                <div class="col me-1 ps-2 pt-1">
                    <div class="content{% if not allow_feedback and not item.comment.allow_thread %} pb-3{% endif %}">
                        {% include "includes/django_comments_xtd/comment_content.html" with content=item.comment.comment %}
                    </div>
                    <div class="flex me-auto small text-muted pt-1">
                        <span class="localise-date">{{ item.comment.submit_date|date:'Y-m-d H:i:s' }} UTC</span>
                        &nbsp;-&nbsp;
                        {% if item.comment.url %}
                            <a href="{{ item.comment.url }}" target="_new">
                        {% endif %}
                        {% include "comments/display_name.html" %}
                        {% if item.comment.url %}
                            </a>
                        {% endif %}
                        {% if item.comment.user and item.comment.user|has_permission:"django_comments.can_moderate" %}
                            &nbsp;
                            <span class="badge rounded-pill bg-secondary text-light">
                                {{ trans.moderator }}
                            </span>
                        {% endif %}
                        &nbsp;&nbsp;
                        <span class="ms-auto me-2 small">
                            <a class="permalink" title="{{ trans.permalink }}" href="{% get_comment_permalink item.comment %}" rel="nofollow"><i class="fas fa-link"></i></a>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-auto p-0">
                            {% if allow_feedback %}
                                {% include "includes/django_comments_xtd/user_feedback.html" %}
                            {% endif %}
                        </div>
                        <div class="col-auto p-0">
                            {% if item.comment.allow_thread and not item.comment.is_removed %}
                                <a class="small mutedlink p-0" href="{{ item.comment.get_reply_url }}" rel="nofollow">{{ trans.reply }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <h6 class="mt-1 small d-flex">
                        <span>
                            {% if not item.comment.is_removed %}
                                {% if perms.comments.can_moderate %}
                                    {% if item.flagged_count %}
                                        <span class="badge badge-danger" title="{{ trans.inappropriate1 }}"> {{ item.flagged_count }} {{ trans.inappropriate2 }}."</span>
                                    {% endif %}
                                {% endif %}
                                {% if allow_flagging and item.flagged %}
                                    <i class="fas fa-flag text-danger" title="{{ trans.comment_flagged }}"></i>
                                {% elif allow_flagging %}
                                    <a class="mutedlink" href="{% url 'comments-flag' item.comment.pk %}" rel="nofollow">
                                        <i class="fas fa-flag" title="{{ trans.flag_comment }}"></i>
                                    </a>
                                {% endif %}
                                {% if perms.comments.can_moderate %}
                                    <a class="mutedlink" href="{% url 'comments-delete' item.comment.pk %}" rel="nofollow">
                                        <i class="fas fa-trash-alt" title="{{ trans.remove_comment }}"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </span>
                    </h6>
                    {% if not item.comment.is_removed and item.children %}
                        {% render_xtdcomment_tree with comments=item.children %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
