{% extends "django_comments_xtd/base.html" %}
{% load comments comments_xtd core_tags %}


{% block content %}
{% get_template_set 'comments' as trans %}
<title>EnzedOnline - {{ trans.title }}</title>
<div class="container">
  <div class="my-4">
    <h3 class="text-center">{{ trans.reply_header }}</h3>
    <hr/>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <div class="card bg-light mb-3">
        <div class="row">
          <div class="col-auto ms-3 mt-2">
              {% if comment.user.photo %}
                  <img alt="" src="{{ comment.user.photo.url }}" class="comments-image-thumbnail">
              {% else %}
                  {{ comment.user_email|xtd_comment_gravatar }}
              {% endif %}   
          </div>
          <div class="col ps-0">
            <div class="card-body ps-0 py-1">
              <p class="card-text">{{ comment.comment }}</p>
                  <h6 class="card-text pb-0">
                    {{ comment.submit_date|date:"N j, Y, P" }}&nbsp;-&nbsp;
                    {% if comment.user_url %}
                    <a href="{{ comment.user_url }}" target="_new">{% endif %}
                      {{ comment.user_name }}{% if comment.user_url %}</a>{% endif %}
                  </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-5">
        <div class="card-body">
          {% include "comments/form.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
respondToVisibility = function (element, callback) {
  var options = {
    root: document.documentElement,
  };

  var observer = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      callback(entry.intersectionRatio > 0);
    });
  }, options);

  observer.observe(element);
};
respondToVisibility(document.getElementById("id_comment"), (visible) => {
  if (visible) {
    document.getElementById("id_comment").focus();
  }
});
</script>
{% endblock %}
