{% load wagtailimages_tags wagtailcore_tags %}
    <main>
      <!-- pre-header -->
      <table style="display:none!important;">
        <tr>
          <td>
            <div
              style="overflow:hidden;display:none;font-size:1px;color:#ffffff;line-height:1px;maxheight:0px;max-width:0px;opacity:0;">
                {{ body.receipt_email_headline }}
            </div>
          </td>
        </tr>
      </table>
      <!-- pre-header end -->

      <!-- banner -->
      <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="17a2b8">
        <tr>
          <td align="center">
            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
              <tr>
                <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
              </tr>
              <tr>
                <td align="center">
                  <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                    <tr>
                      <td align="center">
                        <a href="{{ body.receipt_email_banner_link }}" style="display: block; border-style: none !important; border: 0 !important;">
                          {% image body.receipt_email_banner max-1000x200 as img %}
                          <img border="0" width="95%" height="auto" src="{{ base_url }}{{ img.url }}" alt="">
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- end banner -->

      <!-- content section -->
      <table border="0" width="100%" cellpadding="0" cellspacing="0" class="bg_color">
        <tr>
          <td align="center">
            <table border="0" bgcolor="#ffffff" align="center" width="590" cellpadding="0" cellspacing="0" class="container590" style="border-radius: 10px;">
              <tr>
                <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
              </tr>
              <tr>
                <td align="center"
                  style="color: #343434; font-weight:700;letter-spacing: 2px; line-height: 35px;"
                  class="main-header">
                  <div style="line-height: 150%;padding: 0px 5px 20px 5px;font-size: 16pt; ">
                    {{ body.receipt_email_headline }}
                  </div>
                </td>
              </tr>
              <tr>
                <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
              </tr>
              <tr>
                <td align="center">
                  <table border="0" width="80%" align="center" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                    <tr>
                      <td height="1" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
              </tr>
              <tr>
                <td align="left">
                  <table border="0" width="590" align="center" cellpadding="0" cellspacing="0" class="container590">
                    <tr>
                      <td height="10" width="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                      <td align="justify"
                        style="color: #888888; font-size: 16px; line-height: 24px;padding:0px 15px;">
                        <!-- section text ======-->
                        <p style="line-height: 24px;margin-bottom:15px;margin-left:15px;">
                          {{ body.receipt_email_content|richtext }}
                        </p>
                      </td>
                      <td height="10" width="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="20px" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- end section -->
    </main>
